{% extends basetemplate %}
{% trans_default_domain "IbrowsNewsletterBundle" %}
{% block layout_class %}statistic-show{% endblock layout_class %}

{% block head_javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
        var $statistic = new ibrows_newsletter.statistic({
            selectors: {
                readPieChart: 'read-pie-chart',
                jobPieChart: 'job-pie-chart',
                jobLineChart: 'job-line-chart'
            },
            readPieChart: {
                data: [
                    ['{{ 'statistic.readpiechart.emails'|trans }}', '{{ 'statistic.readpiechart.amount'|trans }}'],
                    ['{{ 'statistic.readpiechart.read'|trans }}', {{ read }}],
                    ['{{ 'statistic.readpiechart.unread'|trans }}', {{ unread }}]
                ],
                options: {
                    fontName: 'Verdana',
                    is3D: true,
                    legend: {
                        position: 'left'
                    },
                    colors: [
                        'green', 'red'
                    ]
                }
            },
            jobPieChart: {
                data: [
                    ['{{ 'statistic.jobpiechart.status'|trans }}', '{{ 'statistic.jobpiechart.amount'|trans }}'],
                    {% for status, amount in jobPie %}
                    ['{{ ('statistic.jobpiechart.status.'~status)|trans }}', {{ amount }}],
                    {% endfor %}
                ],
                options: {
                    fontName: 'Verdana',
                    is3D: true,
                    legend: {
                        position: 'left'
                    }
                }
            },
            jobLineChart: {
                data: [
                    ['{{ 'statistic.jobpiechart.date'|trans }}', {% for status in jobStati %}'{{ ('statistic.jobpiechart.status.'~status)|trans }}'{% if(loop.last == false) %},{% endif %}{% endfor %}],
                    {% for date, job in jobLine %}
                    ['{{ date }}',{{ jobLine[date]|join(",")|raw }}]{% if(loop.last == false) %},{% endif %}
                    {% endfor %}
                ],
                options: {}
            }
        });
        $statistic.ready();
    </script>
{% endblock head_javascripts %}

{% block newsletter_content %}
    <h1>{{ 'statistic.title'|trans({'%name%': newsletter.name}) }}</h1>

    <div id="read-pie-chart"></div>
    <div id="job-pie-chart"></div>

    <div class="clear"></div>

    <div id="job-line-chart"></div>
{% endblock %}