{% if view == 'show' %}
    {% if value.path is defined and value.path %}
        <img src="{{ value.path }}">
    {% endif %}
{% else %}
    {% if value is defined %}
        {% if value|split('.')|last == 'svg' %}
            <img src="{{ value }}" alt="" width="75">
        {% else %}
            {% set _lightbox_id = 'easyadmin-lightbox-' ~ random(15) %}
            {% set image = web_image(value).resize(null, 50) %}
            <a href="#" class="easyadmin-thumbnail" data-featherlight="#{{ _lightbox_id }}"
               data-featherlight-close-on-click="anywhere">
                <img src="{{ image }}">
            </a>
            <div id="{{ _lightbox_id }}" class="easyadmin-lightbox">
                <img src="{{ value }}">
            </div>

        {% endif %}
    {% else %}
        <span class="label">{{ 'label.null'|trans(domain = 'EasyAdminBundle') }}</span>
    {% endif %}
{% endif %}
