<!DOCTYPE html>
<html{{ sonata_seo_html_attributes() }}>
    <head {{ sonata_seo_head_attributes() }}>
        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}
        {{ sonata_seo_link_canonical() }}
        {{ sonata_seo_lang_alternates() }}
    <meta name="generator" content="Mobirise v4.2.3, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="index, follow">
    {% block stylesheets %}
        {% include '@ArkounayBlockI18n/assets/include_css.html.twig' %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" /> 
    <link rel="shortcut icon" href="assets/images/logo2.png" type="image/x-icon">
    <link rel="stylesheet" href="{{ asset('assets/web/assets/mobirise-icons/mobirise-icons.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/tether/tether.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap-grid.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap-reboot.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/socicon/css/styles.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/dropdown/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/theme/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/mobirise/css/mbr-additional.css') }}" type="text/css">
    <link rel="alternate" type="application/rss+xml" title="Actus du développement web (RSS)" href="http://platform-media.herokuapp.com/flux_rss_vertin_go_prod" />
    {% block head_javascript %}
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script type="text/javascript" src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
         google_ad_client: "ca-pub-9581753365998608",
         enable_page_level_ads: true
        });
    </script>

    
    <script type="text/javascript">
        var getSocial = new GetSocialSDK({appId: "S07We6x9YQm"});

    // Call create with the ID of the div where the widget should be shown
    // and a unique token of your choice (e.g "mywebsite")
    
    getSocial.smartBanner.create({
    target: "smart-banner-container",
    options: {
      "reviews": "23234",
      "rating": "2.5",
      "bgColor": "#42ceed",
      "txtColor": "#41c97e",
      "reviewsColor": "#c07878",
      "closeBtnColor": "#06100e",
      "btnBgColor": "#191e1f",
      "btnTxtColor": "#7b96af",
      "btnTxt": "asdGET",
      "description": "I can't stop playing this amazing game!"
    },
    customData: {
      "key": "value",
    },
    onShow: function() {
      console.log("banner visible");
    },
    onHide: function() {
      console.log("banner hidden");
    },
    });
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57080827-3"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-57080827-3');
    </script>

    <script type="application/ld+json">
        {
        "@context": "http://schema.org/",
        "@type": "Organization",
        "name": "Vertin Go Website",
        "url": "https://platform-media.herokuapp.com/vertingo-website-introduction",
        "sponsor":
                {
                "@type": "Organization",
                "name": "Heroku",
                "url": "https://heroku.com"
                }
        }
    </script>

     <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "ItemList",
          "itemListElement": [
            {
              "@type": "ListItem",
              "position": 1,
              "url": "https://platform-media.herokuapp.com/vertingo-website-introduction"
             },
           {
              "@type": "ListItem",
              "position": 2,
              "url": "https://platform-media.herokuapp.com/glossary-informatics-block"
            },
            {
              "@type": "ListItem",
              "position": 3,
              "url": "https://platform-media.herokuapp.com/learn-symfony-framework"
              },
            {
              "@type": "ListItem",
              "position": 4,
              "url": "https://platform-media.herokuapp.com/learn-android-studio-developpment-and-google-play-deployment"
              },
            {
              "@type": "ListItem",
              "position": 5,
              "url": "https://platform-media.herokuapp.com/try-my-own-google-spreadsheet"
              },
            {
              "@type": "ListItem",
              "position": 6,
              "url": "https://platform-media.herokuapp.com/build-my-own-chatbot"
              },
            {
              "@type": "ListItem",
              "position": 7,
              "url": "https://platform-media.herokuapp.com/build-my-own-vertingo-website"
              },
               {
              "@type": "ListItem",
              "position": 8,
              "url": "https://platform-media.herokuapp.com/how-to-integrate-google-data-analytics"
              },
               {
              "@type": "ListItem",
              "position": 9,
              "url": "https://platform-media.herokuapp.com/how-to-integrate-youtube-data-analytics"
              },
            {
              "@type": "ListItem",
              "position": 10,
              "url": "https://platform-media.herokuapp.com/index-your-website-and-learn-how-to-become-well-ranked-in-search-engine"
              },
            {
              "@type": "ListItem",
              "position": 11,
              "url": "https://platform-media.herokuapp.com/my-youtube-list-playlist?pseudo=vertingo"
              },
            {
              "@type": "ListItem",
              "position": 12,
              "url": "https://platform-media.herokuapp.com/front_file_manager?conf=default&route=/Support_PDF%21/Initiation%20%C3%A0%20AndroidStudio%21&view=list"
              },
            {
              "@type": "ListItem",
              "position": 13,
              "url": "https://platform-media.herokuapp.com/download-and-install-locally"
              },
            {
              "@type": "ListItem",
              "position": 14,
              "url": "https://platform-media.herokuapp.com/social-blocks"
              },
            {
              "@type": "ListItem",
              "position": 15,
              "url": "https://platform-media.herokuapp.com/testimonials"
              }
            ]
          }
    </script>

    <script type="application/ld+json">
    {
    "@context":"http://schema.org",
    "@type":"SocialMediaPosting",
    "@id":"https://www.facebook.com/vertingo/posts/2051848131540798",
    "datePublished":"2014-03-04",
    "author":{
        "@type":"Person",
        "name":"VertinGo",
        "url":"https://www.facebook.com/vertingo/"
    },
    "headline":"Learn how to deploy Symfony Application on Heroku",
    "sharedContent":{
    "@type":"WebPage",
    "headline":"Learn how to deploy Symfony Application on Heroku",
    "url":"https://platform-media.herokuapp.com/vertingo-website-introduction",
    "author":{
      "@type":"Person",
      "name":"VertinGo"
        }
      }
    }
    </script>

    <script type="application/ld+json">
    {
    "@context": "http://schema.org",
    "@type": "WebPage",
    "name": "VertinGo Website",
    "url":"https://platform-media.herokuapp.com/vertingo-website-introduction",
    "description": "Consulter toutes les productions publiés par Vertin Go Website, que ça soient les applications, logiciels, ou bien support_PDF afin de vous former dans les domaines tels que le développement Informatique, et vous apporter une meilleure compréhension également de l'applications des notions mathématiques, physiques et chimiques à la création d'algorithme informatique."
    }
    </script>

    <!--<script type="application/ld+json">
        {
        "@context": "http://schema.org/",
        "@type": "Recipe",
        "name": "Comment devenir un développeur?",
        "image": [
            "https://platform-media.herokuapp.com/assets/images/03.jpg"
        ],
        "author": {
            "@type": "Person",
            "name": "Vertin Go"
        },
        "datePublished": "2019-01-10",
        "description": "La Chaîne Vertin Go Website propose un contenu assez divers mais axé principalement sur le développement informatique! A tous ceux passionnés par les technologies du numériques ou bien étudiant en développement informatique n'hésitez surtout pas à me solliciter et à vous abonner à ma chaîne....",          
        "recipeCategory": "Informatiques",
        "keywords": "Informatiques, Formations Pédagogiques, SEO, Formations, Développeurs, Développements Informatiques, Tutoriels, Search Engine Optimization, Symfony, Framework",
        "video": [
            {
            "name": "Comment devenir un développeur?",
            "description": "Apprenez à devenir un développeur avec le site Vertin Go Website!",
            "thumbnailUrl": [
              "https://example.com/photos/1x1/photo.jpg",
              "https://example.com/photos/4x3/photo.jpg",
              "https://example.com/photos/16x9/photo.jpg"
             ],
            "contentUrl": "http://www.example.com/video123.flv",
            "embedUrl": "http://www.example.com/videoplayer.swf?video=123",
            "uploadDate": "2018-02-05T08:00:00+08:00",
            "duration": "PT1M33S",
            "interactionCount": "2347",
            "expires": "2019-02-05T08:00:00+08:00"
           }
          ],
        "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "5",
            "ratingCount": "18"
            },
        "review": {
            "@type": "Review",
            "reviewRating": {
                "@type": "Rating",
                "ratingValue": "4",
                "bestRating": "5"
            },
            "author": {
                "@type": "Person",
                "name": "Vertin Go"
            },
            "datePublished": "2019-01-10",
            "reviewBody": "",
            "publisher": "Vertin Go Production"
            }
         }
    </script>-->

    {% endblock head_javascript %}

    <style>
element.style {
    margin: 8px 0px 16px;
    width: 932px;
    height: 160px;
}
.W_TRACKING_FORM_WRAPPER ._GAJh {
    margin-bottom: 16px;
    margin-top: 8px;
    overflow: hidden;
    padding: 8px 16px;
}
textarea._GAJh {
    border: 1px solid #d9d9d9;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    border-top: 1px solid #c0c0c0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #333;
    font-size: 13px;
    line-height: 18px;
    padding: 1px 8px;
}
.galaxy input[type='text'], .galaxy input[type='password'], .galaxy textarea {
    border-top: 1px solid #a3a3a3;
    border-left: 1px solid #a3a3a3;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    background: #fff;
    -webkit-box-shadow: inset 0 1px 0 #d6d6d6;
    -moz-box-shadow: inset 0 1px 0 #d6d6d6;
    box-shadow: inset 0 1px 0 #d6d6d6;
    color: #000;
    font: normal 12px 'Roboto',sans-serif;
    margin: 0;
    padding-left: 5px;
    vertical-align: middle;
}
._GAoV {
    border: 1px solid #343434;
    margin: 5px 0 0 20px;
    width: 90%;
}
._GAi4 {
    min-width: 260px;
}
button, input, select, textarea {
    font-size: 100%;
}
button, html, input, select, textarea {
    font-family: Roboto,Helvetica Neue,sans-serif;
}
textarea {
    vertical-align: top;
    overflow: auto;
}
button, input, select, textarea {
    vertical-align: baseline;
}
textarea {
    overflow: auto;
    vertical-align: top;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
}
textarea[Attributes Style] {
    white-space: pre;
    overflow-wrap: normal;
}
user agent stylesheet
textarea {
    font-family: monospace;
    border-color: rgb(169, 169, 169);
}
user agent stylesheet
textarea {
    -webkit-appearance: textarea;
    background-color: white;
    -webkit-rtl-ordering: logical;
    flex-direction: column;
    resize: auto;
    cursor: text;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    border-width: 1px;
    border-style: solid;
    border-color: initial;
    border-image: initial;
    padding: 2px;
}
user agent stylesheet
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}
user agent stylesheet
input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb !important;
}
._GABJb {
    width: 100%;
    border-collapse: collapse;
    border: none;
}
.galaxy {
    background: #eee url(header_bg.png) repeat-x;
    font-family: 'Roboto',sans-serif;
    font-size: 82%;
    margin: 0;
    overflow-y: hidden;
    padding: 0;
}
body, html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
button, html, input, select, textarea {
    font-family: Roboto,Helvetica Neue,sans-serif;
}
body, html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    min-height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px;
}
::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px;
}
::-webkit-scrollbar {
    height: 16px;
    overflow: visible;
    width: 16px;
}
::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}
::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}
::-webkit-scrollbar-button {
    height: 0;
    width: 0;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1), inset 0 -1px 0 rgba(0,0,0,0.07);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
    background-clip: padding-box;
    border: solid transparent;
    border-width: 1px 1px 1px 6px;
    min-height: 28px;
    padding: 100px 0 0;
    box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
}
::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}
::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}
::-webkit-scrollbar-track {
    background-clip: padding-box;
    border: solid transparent;
    border-width: 0 0 0 4px;
}
#outlook a { padding:0; }
		body{ width:100% !important; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; margin:0; padding:0; }
		.ExternalClass { width:100%; } 
		.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div { line-height: 100%; }
		#backgroundTable {margin:0; padding:0; width:100% !important; line-height: 100% !important;}
		img {outline:none; text-decoration:none; -ms-interpolation-mode: bicubic;} 
		a img {border:none;} 
		.image-fix {display:block;}
		table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }	
		table td {border-collapse: collapse;}

		@media only screen and (max-width: 600px) {

			table[id='backgroundTable'] .button { background-color: #58DF9D;  padding: 5px; display:block; width: auto!important; text-decoration: none; text-transform: uppercase; text-align: center; margin: 20px 0 0 0!important; color: #ffffff!important; }
			table[id='backgroundTable'] .content-wrap { width: 94%!important; }
			table[id='backgroundTable'] .hide { display: none!important; }
			table[id='backgroundTable'] .responsive-img { max-width: 100%!important; height: auto!important; }
			table[id='backgroundTable'] .full-width { width: 100%!important; }
			table[id='backgroundTable'] .text-center { text-align: center!important; }
			table[id='backgroundTable'] .text-left { text-align: left!important; }
			table[id='backgroundTable'] .height-auto { height: auto!important; }
			table[id='backgroundTable'] .no-padding { padding: 0!important; }
			table[id='backgroundTable'] .block-4 { padding: 0 4% 15px!important; }      
			table[id='backgroundTable'] .block-6 { padding: 0 4% 15px!important; }
			table[id='backgroundTable'] .block-6-photo { padding: 30px 0!important; }
			table[id='backgroundTable'] .block-11 { padding: 0 0 15px!important; }
			table[id='backgroundTable'] .block-11-title { border-bottom: 1px solid #e0d1de!important; padding: 15px 0 3px!important; text-align: center!important; }
			table[id='backgroundTable'] .block-12-title { border-bottom: 1px solid #e0d1de!important; padding: 0 0 3px!important; text-align: center!important; }
			table[id='backgroundTable'] .block-12 { padding: 0 0 10px!important; }
			table[id='backgroundTable'] .block-13 { padding: 0 0 20px!important; }
			table[id='backgroundTable'] .block-14 { padding: 0 0 20px!important; }
			table[id='backgroundTable'] .block-15 { padding: 15px 0 20px!important; }
			table[id='backgroundTable'] .block-15 { padding: 15px 0 20px!important; }
			table[id='backgroundTable'] .block-18 { padding: 35px 7% 0!important; }
			table[id='backgroundTable'] .block-20 { padding: 0 5%; }
		}
		
		h4 {
	text-align: center;
	color: #ff9600;
	font-variant: small-caps;
	font-size: 1em;
	margin-bottom: 5px;
}
</style>
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    {% if has_inline_edit_permissions() %}
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.4.3/tinymce.min.js"></script>
    {% endif %}
    {% include '@ArkounayBlockI18n/assets/include_js.html.twig' %}
    {% include '@SonataSeo/Block/_facebook_sdk.html.twig' %}
    {% include '@SonataSeo/Block/_twitter_sdk.html.twig' %}
    {% include '@SonataSeo/Block/_pinterest_sdk.html.twig' %}
{% endblock %}
</body>
</html>
