{% extends basetemplate %}
{% trans_default_domain "NewslettersBundle" %}
{% block layout_class %}design-edit{% endblock layout_class %}

{% block head_javascripts %}
{{ parent() }}
<script type="text/javascript">
jQuery('[data-element="overview"]').iframeAutoHeight();
</script>
{% endblock %}

{% block newsletter_content %}
    <h1>{{ 'design.edit'|trans }}</h1>

    <form action="{{ path('ibrows_newsletter_design_edit', {'id' : design.id }) }}" method="post" {{ form_start(form) }}>
        {{ form_errors(form) }}
        {{ form_rest(form) }}

        <div class="form-actions">
            <input class="btn btn-primary" type="submit" name="edit" value="{{ 'form.save'|trans }}">
        </div>
    </form>

    <h1>{{ 'design.preview'|trans }}</h1>
    <div class="newsletter-overview">
		<iframe data-iframe-auto-height="true" src="{{ url('ibrows_newsletter_render_design', {'id' : design.id, 'context': 'design'}) }}"></iframe>
	</div>
{% endblock %}
