{% extends basetemplate %}
{% trans_default_domain "IbrowsNewsletterBundle" %}
{% block layout_class %}design-list{% endblock layout_class %}

{% block newsletter_content %}
    <h1>{{ 'design.list'|trans }}</h1>

    <table class="table table-striped">
		<thead>
            <tr>
                <th>#</th>
                <th>{{ 'design.name'|trans }}</th>
                <th>{{ 'design.created_at'|trans }}</th>
            </tr>
        </thead>
		<tbody>
			{% for design in designs %}
                <tr>
                    <td>{{ design.id }}</td>
                    <td>
                        <a href="{{ url('ibrows_newsletter_design_edit', {id: design.id}) }}">{{ design.name }}</a>
                    </td>
                    <td>{{ design.createdAt|date }}</td>
                </tr>
			{% endfor %}
		</tbody>
    </table>

	<a href="{{ url('ibrows_newsletter_design_create') }}" class="btn btn-primary">
        <span class="icon-plus icon-white"></span>
        {{ 'design.create'|trans }}
    </a>
{% endblock newsletter_content %}
