{% extends basetemplate %}
{% trans_default_domain "IbrowsNewsletterBundle" %}
{% block layout_class %}newsletter-create{% endblock layout_class %}

{% import "IbrowsNewsletterBundle::macros.html.twig" as macros %}
{% block newsletter_wizard %}
    {{ macros.displayWizard(wizard) }}
{% endblock %}

{% block newsletter_content %}
    <form action="" method="post" {{ form_start(form) }}>
        {{ form_errors(form) }}
        {{ form_rest(form) }}

        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="{{ 'form.save'|trans }}">
        </div>
    </form>
{% endblock %}
