{% extends basetemplate %}
{% trans_default_domain "IbrowsNewsletterBundle" %}
{% block layout_class %}newsletter-list{% endblock layout_class %}

{% block newsletter_content %}
    <h1>{{ 'newsletter.list'|trans }}</h1>

    <table class="table table-striped">
		<thead>
            <tr>
                <th>#</th>
                <th>{{ 'newsletter.name'|trans }}</th>
                <th>{{ 'newsletter.design'|trans }}</th>
                <th>{{ 'newsletter.statistic'|trans }}</th>
                <th>{{ 'newsletter.created_at'|trans }}</th>
                <th>{{ 'newsletter.status'|trans }}</th>
            </tr>
        </thead>
		<tbody>
			{% for newsletter in newsletters %}
                <tr>
                    <td>{{ newsletter.id }}</td>
                    <td>
                        <a href="{{ url('ibrows_newsletter_edit_redirection', {id: newsletter.id}) }}">
                            {{ newsletter.name }}
                        </a>
                    </td>
                    <td>{{ newsletter.design.name }}</td>
                    <td>
                        <a href="{{ url('ibrows_newsletter_statistic_show', {newsletterId: newsletter.id}) }}">
                            {{ 'statistic.show'|trans }}
                        </a>
                    </td>
                    <td>{{ newsletter.createdAt|date }}</td>
                    <td>{{ ('newsletter.status.'~newsletter.status)|trans }}</td>
                </tr>
			{% endfor %}
		</tbody>
    </table>

	<a href="{{ url('ibrows_newsletter_create') }}" class="btn btn-primary">
        <span class="icon-plus icon-white"></span>
        {{ 'newsletter.create'|trans }}
    </a>
{% endblock newsletter_content %}
