{% extends basetemplate %}
{% trans_default_domain "IbrowsNewsletterBundle" %}
{% block layout_class %}newsletter-subscriber{% endblock layout_class %}

{% import "IbrowsNewsletterBundle::macros.html.twig" as macros %}
{% block newsletter_wizard %}
    {{ macros.displayWizard(wizard) }}
{% endblock %}

{% block newsletter_content %}
    <h1>{{ 'newsletter.subscriber'|trans({'%name%': newsletter.name}) }}</h1>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <div class="form-actions">
        <input type="submit" class="btn btn-primary" name="send" value="{{ 'form.save'|trans }}">
    </div>
    {{ form_end(form) }}

    <script>
        (function ($) {
            $(function () {
                var form = $('form[name="subscriber"]');
                form.submit(function (e) {
                    var form = $(this);
                    var subscriberSelect = form.find(':input[name="subscriber[subscribers][]"]');
                    var items = subscriberSelect.find('> option:selected').map(function () {
                        return $(this).val();
                    }).get();
                    subscriberSelect.removeAttr('name');
                    $('<input>').attr('type', 'hidden').attr('name', 'subscriber[subscribers]').val(JSON.stringify(items)).appendTo(form);
                });
            });
        })(window.jQuery);
    </script>
{% endblock %}
