{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% form_theme formRename 'bootstrap_3_layout.html.twig' %}
<!doctype html>
<html lang="en" id="dropzone">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/filemanager/libs/bootstrap/dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet"
              href="{{ asset('bundles/filemanager/libs/components-font-awesome/css/font-awesome.min.css') }}">
        <link rel="stylesheet"
              href="{{ asset('bundles/filemanager/libs/jstree/dist/themes/default/style.min.css') }}">
        <link rel="stylesheet"
              href="{{ asset('bundles/filemanager/libs/blueimp-file-upload/css/jquery.fileupload.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/filemanager/css/manager.css') }}">
        <link rel="stylesheet"
              href="{{ asset('bundles/filemanager/libs/jQuery-contextMenu/dist/jquery.contextMenu.min.css') }}">
    {% endblock %}
    
    {{ sonata_seo_title() }}
    {{ sonata_seo_metadatas() }}
</head>
<body>
{% block body %}
    <div class="container-fluid ">
        <div class="row top-bar" id="top-bar">
            {% block actions %}
                {% if fileManager.parent %}
                    <a class="btn btn-default btn-sm"
                       title="{{ 'button.parent'|trans }}"
                       href="{{ fileManager.parent }}">
                        <span class="fa fa-level-up"></span></a>
                {% endif %}
                <button type="button" title="{{ 'button.refresh'|trans }}" class="btn btn-default btn-sm "
                        onClick="window.location.reload()">
                    <i class="glyphicon glyphicon-refresh"></i>
                </button>

               <table class="table bordered">
               <tr>
               <td>
               <div id="___ytsubscribe_0" style="text-indent: 0px; margin: 0px; padding: 0px; background-color: transparent; border-style: none; float: none; line-height: normal; font-size: 1px; vertical-align: baseline; display: inline-block; width: 168px; height: 48px; background-position: initial initial; background-repeat: initial initial;">
               <iframe frameborder="0" hspace="0" marginheight="0" marginwidth="0" scrolling="no" style="position: static; top: 0px; width: 168px; margin: 0px; border-style: none; left: 0px; visibility: visible; height: 48px;" tabindex="0" vspace="0" width="100%" id="I0_1480693990910" name="I0_1480693990910" src="https://www.youtube.com/subscribe_embed?usegapi=1&channelid=UC2g_-ipVjit6ZlACPWG4JvA&layout=full&count=false&origin=http%3A%2F%2Fvertin-go.com&gsrc=3p&ic=1&jsh=m%3B%2F_%2Fscs%2Fapps-static%2F_%2Fjs%2Fk%3Doz.gapi.en_US.DCqkg4_f1cE.O%2Fm%3D__features__%2Fam%3DAQ%2Frt%3Dj%2Fd%3D1%2Frs%3DAGLTcCN29Itx_77YsW7KCcAVebosjZAOGA#_methods=onPlusOne%2C_ready%2C_close%2C_open%2C_resizeMe%2C_renderstart%2Concircled%2Cdrefresh%2Cerefresh%2Conload&id=I0_1480693990910&parent=http%3A%2F%2Fvertin-go.com&pfname=&rpctoken=32231505" data-gapiattached="true"></iframe>
               </div>
               </td>
               <td valign="left">
               {{socialButtons()}}
               </td>
               </tr>
               </table>
               
            <a class="btn btn-default btn-sm" href='https://platform-media.herokuapp.com/vertingo-website-introduction' target='_blank'>Visiter Vertin Go Website</a>
            {% endblock %}
            {% block display %}
                <div class="btn-group pull-right">
                    {% if fileManager.view != "list" %}
                        {{ order(fileManager, 'name') }}
                        {{ order(fileManager, 'date') }}
                        {{ order(fileManager, 'size') }}
                        {{ order(fileManager, 'dimension') }}
                    {% endif %}
                    <a type="button" href="{{ path('file_manager2', fileManager.queryParameters|merge({'view':"list"})) }}"
                       class="btn btn-sm btn-default {{ fileManager.view == 'list' ? 'active' }}">
                        <span class="fa fa-th-list"></span>
                    </a>
                    <a type="button" href="{{ path('file_manager2', fileManager.queryParameters|merge({'view':'thumbnail'})) }}"
                       class="btn btn-sm btn-default {{ fileManager.view == 'thumbnail' ? 'active' }}">
                        <span class="fa fa-th"></span>
                    </a>
                </div>
            {% endblock %}
        </div>
        <div class="row">
            {% if fileManager.tree %}
            <div class="col-xs-12  col-sm-4 col-md-3 col-lg-2">
                {% block tree %}
                    <div class="table-responsive" style='width:350px;'>
                        <div id="tree" style='width:350px;'></div>
                    </div>
                {% endblock %}
            </div>
            <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10 no-tree-blk">
                {% else %}
                <div class="col-lg-12">
                    {% endif %}
                    {% block content %}
                        <form id="form-multiple-delete" style='width:1200px;padding-left:100px;'>
                            {% include '@FileManager/views/_manager_view2.html.twig' with {'fileManager' :fileManager,  'fileArray' : fileArray, 'formDelete' : formDelete} only %}
                        </form>
                    {% endblock %}
                </div>
            </div>
        </div>
      
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('bundles/filemanager/libs/jquery/dist/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/filemanager/libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('bundles/filemanager/libs/jstree/dist/jstree.min.js') }}"></script>
    <script src="{{ asset('bundles/filemanager/libs/blueimp-file-upload/js/vendor/jquery.ui.widget.js') }}"></script>
    <script src="{{ asset('bundles/filemanager/libs/blueimp-file-upload/js/jquery.iframe-transport.js') }}"></script>
    <script src="{{ asset('bundles/filemanager/libs/blueimp-file-upload/js/jquery.fileupload.js') }}"></script>
    <script src="{{ asset('bundles/filemanager/libs/sticky-kit/jquery.sticky-kit.min.js') }}"></script>
    <script src="{{ asset('bundles/filemanager/libs/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js') }}"></script>
    <script src="{{ asset('bundles/filemanager/libs/jQuery-contextMenu/dist/jquery.contextMenu.min.js') }}"></script>
    <script>
        var treedata = {{ treeData|raw }};
        var tree = {{ fileManager.tree ? 'true' : 'false' }}
        var moduleName = '{{ fileManager.module ? fileManager.module : 0 }}';
        var successMessage = '{{ 'file.add.success'|trans }}';
        var url = "{{ path('file_manager2', fileManager.queryParameters|merge({'json':true}))|e('js') }}"
        var urldelete = "{{ path('file_manager_delete', fileManager.queryParameters )|e('js') }}"
        var deleteMessage = "{{ 'title.delete'|trans }}"
        var renameMessage = "{{ 'title.rename.file'|trans }}"
        var downloadMessage = "{{ 'title.download'|trans }}"
    </script>
    <script>
        // display alert
        function displayAlert(type, msg) {
            $.notify({
                message: msg
            }, {
                type: type,
                placement: {
                    from: "bottom",
                    align: "left"
                },
                template: '<div data-notify="container" class="col-xs-5 col-md-4 col-lg-3 alert alert-{0}" role="alert">' +
                    '<button type="button" aria-hidden="true" class="close" data-notify="dismiss">×</button>' +
                    '<span data-notify="icon"></span> ' +
                    '<span data-notify="title">{1}</span> ' +
                    '<span data-notify="message">{2}</span>' +
                    '<div class="progress" data-notify="progressbar">' +
                    '<div class="progress-bar progress-bar-{0}" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>' +
                    '</div>' +
                    '<a href="{3}" target="{4}" data-notify="url"></a>' +
                    '</div>'
            });
        }

        // display session flash messages
        {% for type, messages in app.flashes %}
        {% for message in messages %}
        displayAlert('{{ type }}', '{{ message|trans|e('js') }}')
        {% endfor %}
        {% endfor %}
    </script>
    <script src="{{ asset('bundles/filemanager/js/manager.js') }}"></script>
{% endblock %}
</body>
</html>
