{% extends "::base.html.twig" %}

{% block title %}VideoPlayerBundle:VideoPlayer:listvideo{% endblock %}

{% block body %}

<section class="menu cid-qpg357PDtf" id="menu2-2z" data-rv-view="7041">
    <nav class="navbar navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                
                 <span class="navbar-caption-wrap">
                    <a class="navbar-caption display-4 text-white" href="https://www.facebook.com/vertingo/">
                        VERTIN GO WEBSITE!</a>
                </span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown display-4" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-white" href="index.html" aria-expanded="true"></a></li><li class="nav-item dropdown open">
                    <a class="nav-link link dropdown-toggle text-white" href="https://mobirise.com" data-toggle="dropdown-submenu" aria-expanded="true">
                        MENU BLOCKS</a><div class="dropdown-menu"><a class="dropdown-item text-white" href="{{ path('vertingo-website-introduction') }}">[Section] Introduction</a><a class="dropdown-item text-white" href="{{ path('glossary-informatics-block') }}">[Section] Glossaire Informatique Blocks</a><a class="dropdown-item text-white" href="{{ path('learn-symfony-framework') }}">[Section] Symfony Projets et Videos Blocks</a><a class="dropdown-item text-white" href="{{ path('learn-android-studio-development-and-google-play-deployment') }}">[Section] Android Api et Déploiement Blocks</a><a class="dropdown-item text-white" href="{{ path('try-my-own-google-spreadsheet') }}">[Tutoriel] Initiation à l'utilisation de Google SpreadSheet!</a><a class="dropdown-item text-white" href="{{ path('build-my-own-chatbot') }}">[Tutoriel] Créer et déployer son Chat-Bot!</a><a class="dropdown-item text-white" href="{{ path('build-my-own-vertingo-website') }}">[Tutoriel] Mettre en ligne son Site!</a><a class="dropdown-item text-white" href="{{ path('how-to-integrate-google-data-analytics') }}">[Section] Comment intégrer Google Data Analytics</a><a class="dropdown-item text-white" href="{{ path('how-to-integrate-youtube-data-analytics') }}">[Section] Comment intégrer YouTube Data Analytics</a><a class="dropdown-item text-white" href="{{ path('index-your-website-and-learn-how-to-become-well-ranked-in-search-engine') }}">[Tutoriel] Apprentissage du SEO avec Google Webmaster Tools!</a><a class="dropdown-item text-white" href="{{ path('my-youtube-list-playlist',{'pseudo': 'vertingo'}) }}">[Section] YouTube PlayLists VertinGo Website Blocks</a><a class="dropdown-item text-white" href="https://platform-media.herokuapp.com/front_file_manager?conf=default&route=/Support_PDF%21/Initiation%20%C3%A0%20AndroidStudio%21&view=list">[Section] File Manager VertinGo Website Blocks</a><a class="dropdown-item text-white" href="{{ path('download-and-install-locally') }}">[Section] Télécharge et installe l'application en local!</a><a class="dropdown-item text-white" href="{{ path('social-blocks') }}">[Section] Partage Social Blocks</a><a class="dropdown-item text-white" href="{{ path('testimonials') }}">[Section] Temoignages</a></div>
                </li></ul>

        
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary" href="http://vertin-go.com/Fonctions_Annexes/annexes/pdt-page-de-telechargement/install/download.php?fichier=Install_Ex%C3%A9cutable_Windows_32_bits">
                    Download for Windows</a> <a class="btn btn-sm btn-primary" href="https://mobirise.com/mobirise-free-mac.zip">
                    for Mac</a></div>
        </div>
    </nav>
</section>

<section class="engine"><a href="https://mobirise.co">Mobirise</a></section>
<section class="header11 cid-qpgJbVjMeQ" id="header11-30" data-rv-view="7043">
    <!-- Block parameters controls (Blue "Gear" panel) -->     
    <!-- End block parameters -->
    <div class="container align-left">
        <div class="media-container-column mbr-white col-md-12">
            <h1 class="mbr-section-title py-3 mbr-fonts-style display-1"><strong>TUTORIEL </strong>INITIATION A GOOGLE WEBMASTER TOOLS</h1>
        </div>
    </div>
</section>

<section class="mbr-section info3 cid-qpgJh3onLZ"  id="info3-33" data-rv-view="7049">
    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(255, 127, 159);">
    </div>
    <div class="container" >
        <div class="media-container-column title col-12 col-md-10 offset-md-1">
            <h2>
                
            </h2>
            <div class="mbr-section-btn align-left py-4">
                 
                <div class="mbr-section-btn align-left py-4">

                </div>


                <!-- Wrapper table starts -->
<center><table cellpadding='0' cellspacing='0' border='0' id='backgroundTable' bgcolor='#eb9532' width='100%' height='100%'>
	<tr>
		<td>
			
			<!-- Before letter starts -->
			<table cellpadding='0' cellspacing='0' border='0' align='center' width='760' class='content-wrap'>
				<tr>
					<td style='padding: 30px 0 10px;'>
						<table cellpadding='0' cellspacing='0' border='0' align='left' class='full-width' width='50%'>
							<tr>
								<td style='font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; padding: 0 10px 0 0;'>
									Cool preheader text going here
								</td>
							</tr>
						</table>
						<table cellpadding='0' cellspacing='0' border='0' align='right' class='full-width' width='50%'>
							<tr>
								<td class='no-padding text-left' style='font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; 
									padding: 0 0 0 10px; text-align: right;'>
									Having trouble viewing this email? <a href='#' style='color: #ffffff; text-decoration: none;'>View in browser</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<!-- Before letter ends -->

			<!-- Header starts -->
			<table cellpadding='0' cellspacing='0' border='0' align='center' width='760' bgcolor='#ffffff' class='content-wrap'>
				<tr>
					<td style='padding: 15px 5.4%;'>
						<table cellpadding='0' cellspacing='0' border='0' width='100%'>
							<tr>
								<td style='padding: 0 15px 0 0;'>
									<img src="{{asset('assets/images/topsite/pub_cible4.png')}}" width='40' height='40' border='0' style='outline: none; text-decoration: none;
										-ms-interpolation-mode: bicubic; display: block; border: none'/>
								 </td>
								 <td >
									 <table  cellpadding='0' cellspacing='0' border='0' align='right'>
										<tr>
											<td style='word-spacing: 2px; line-height: 23px; padding: 5px 0 0;'>
											<a href='https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1' target='_blank' title='Youtube' style='text-decoration: none;'>
													<img src="{{asset('assets/images/template/i4/header-social/youtube.jpg')}}" width='18' height='15' border='0' style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: inline; border: none'/>
												</a>
												<a href='https://www.facebook.com/vertingo/?ref=bookmarks' target='_blank' title='Facebook' style='text-decoration: none;'>
													<img src="{{asset('assets/images/template/i4/header-social/facebook.jpg')}}" width='9' height='14' border='0' style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: inline; border: none'/>
												</a>
												<a href='https://twitter.com/Vertin_Go' target='_blank' title='Twitter' style='text-decoration: none;'>
													<img src="{{asset('assets/images/template/i4/header-social/twitter.jpg')}}" width='16' height='13' border='0' style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: inline; border: none'/>
												</a>
								
												<a href='https://plus.google.com/u/0/102726855061143896344' target='_blank' title='Google+' style='text-decoration: none;'>
													<img src="{{asset('assets/images/template/i4/header-social/google-plus.jpg')}}" width='14' height='14' border='0' style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: inline; border: none'/>
												</a>
												<a href='http://feeds.feedburner.com/VertinGosBlog' target='_blank' title='RSS' style='text-decoration: none;'>
													<img src="{{asset('assets/images/template/i4/header-social/rss.jpg')}}" width='15' height='15' border='0' style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: inline; border: none'/>
												</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<!-- Header ends -->

			<!-- Seperator start -->
			<table width='800' cellspacing='0' align='center' cellpadding='0' border='0' class='content-wrap'>
				<tr>
					<td height='16'>&nbsp;</td>
				</tr>
			</table>
			<!-- Seperator end -->

			<!-- Header with corners starts -->
			<table width='800' cellspacing='0' align='center' cellpadding='0' border='0' class='content-wrap'>
				<tr height='58' bgcolor='#EE5242'>
					<td align='center' valign='middle' style='font-family: Arial, Helvetica, sans-serif; font-size: 24px; color: #ffffff; 
						line-height: 25px; padding: 5px;'>
						Tutoriel initiation à Google Webmaster Tools!(Le PDF => <a href="https://platform-media.herokuapp.com/uploads/Support_PDF!/Google%20et%20le%20R%C3%A9f%C3%A9rencement!/Referencement_Pdf.pdf" target="_blank"><img src="{{asset('assets/images/file-manager/pdf.jpg')}}" width="30px"></a>)
					</td>
				</tr>
				<tr>
					<td>
						<table cellspacing='0' cellpadding='0' border='0'>
							<tr>
								<td valign='top' class='hide'>
									<img src="{{asset('assets/images/template/i4/left-corner.jpg')}}" width='20' height='18' border='0' class='image-fix' style='outline: none; text-decoration: none;
										-ms-interpolation-mode: bicubic; display: inline; border: none; display: block;' />
								</td>
								<td valign='top'>
									<table cellspacing='0' cellpadding='0' border='0' bgcolor='#ffffff'>
										<tr>
											<td>
												
											</td>
										</tr>
										<tr>
											<td style=' font-family: Arial, Helvetica, sans-serif; font-size: 14px; 
												color: #939393; line-height: 20px;'>
                                            <h4 style="text-align: center;"><strong>


                            
               Prérequis et outils recommandés:<br> 
               Screaming Frog ==> <a href='https://www.screamingfrog.co.uk/seo-spider/' target='_blank'>Télécharger Screaming Frog(<img src="{{asset('assets/images/screaming-frog/logo.png')}}" width='15px'>)</a><br>
               <br>
               
               # Apprentissage de Screaming Frog(<img src="{{asset('assets/images/screaming-frog/logo.png')}}" width='15px'>)</a><br><br>

               1. Lancer une analyse à partir d'une url de votre site!<br>
               <a href='https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1' target='_blank'><img src="{{asset('assets/images/screaming-frog/img1.png')}}" width="800px"></a>
               ================================================================================
               
               <br><br>
               2. Générer un sitemap en cliquant sur Sitemaps -> XML Sitemap ou Images Sitemap!
               <br>
               <a href='https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1' target='_blank'><img src="{{asset('assets/images/screaming-frog/img2.png')}}" width="800px"></a>
               ================================================================================
               
               <br><br>
               2.5 Spécifier les éléments de configurations supplémentaires!<br>
               <a href='https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1' target='_blank'><img src="{{asset('assets/images/screaming-frog/img2-5.png')}}" width="400px"></a>
               ================================================================================
               
               <br><br>
               3. Visualiser la structure de votre site en cliquant sur Visualisations -> Crawl Tree Graph!<br>
               <a href='https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1' target='_blank'><img src="{{asset('assets/images/screaming-frog/img3.png')}}" width="800px"></a>
               ================================================================================
               
               <br><br>

               # Google Webmaster Tools<br><br>

               ## Comment ajouter une propriété!<br><br>

               1. Ajouter vos propriétés dans la Search Console de l'outil Google Webmaster Tools!<br>
               <a href='https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1' target='_blank'><img src="{{asset('assets/images/seo/ref1.png')}}" width="800px"></a>
               ================================================================================
               
               <br><br>
               2. Choisir site web ou application Android!<br>
               <a href='https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1' target='_blank'><img src="{{asset('assets/images/seo/ref2.png')}}" width="800px"></a>
               ================================================================================
               
               <br><br>
               3. Choisir une méthode de vérification de votre propriété!<br>
               <a href='https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1' target='_blank'><img src="{{asset('assets/images/seo/ref3.png')}}" width="800px"></a>
               ================================================================================
               
               <br><br>
               4. Pour l'importation d'un fichier HTML suivez les étapes suivantes...!<br>
               <a href='https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1' target='_blank'><img src="{{asset('assets/images/seo/ref4.png')}}" width="800px"></a>
               ================================================================================
               
               <br><br>
               5. Une fois validé vous devriez obtenir vos propriétés avec un mini aperçu de votre site comme ci-dessous!<br>
               <a href='https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1' target='_blank'><img src="{{asset('assets/images/seo/ref5.png')}}" width="800px"></a>
               ================================================================================
               
               <br><br>
               6. Suite à l'ajout de votre propriétés suivez les étapes ci-dessous pour améliorer la présence de votre site dans Google!<br>
               <a href='https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1' target='_blank'><img src="{{asset('assets/images/seo/ref18.png')}}" width="505px"></a>
               ================================================================================
               
               <br><br>
               7. Tableau de bord principale(Erreurs d'explorations, Analyse de la recherche, et Sitemap)<br>
               <a href='https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1' target='_blank'><img src="{{asset('assets/images/seo/ref8.png')}}" width="800px"></a>
               ================================================================================
               
               <br><br>
               8. Rendez sur: <a href='https://www.xml-sitemaps.com/' target='_blank'>Sitemap Generator</a> ou lancer le logiciel <a href='https://www.screamingfrog.co.uk/seo-spider/' target='_blank'>Screaming Frog</a> pour générer un sitemap de votre site et ensuite l'ajouter dans la Search Console!<br>
               <a href='https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1' target='_blank'><img src="{{asset('assets/images/seo/ref9.png')}}" width="800px"></a>
               ================================================================================
               
               <br><br>
               9. Suite à l'ajout d'un sitemap le système vous informe!<br>
               <a href='https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1' target='_blank'><img src="{{asset('assets/images/seo/ref19.png')}}" width="505px"></a>
               ================================================================================
               
               <br><br>
               10. Outil de test du fichier robots.txt<br>
               <a href='https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1' target='_blank'><img src="{{asset('assets/images/seo/ref10.png')}}" width="800px"></a>
               ================================================================================
               
               <br><br>
               11. 3 étapes: Télécharger, upload votre fichier robots.txt, vérifier la version importer, demander une mise à jour à Google!<br>
               <a href='https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1' target='_blank'><img src="{{asset('assets/images/seo/ref11.png')}}" width="586px"></a>
               ================================================================================
               
               <br><br>
               12. Marqueur de données(Baliser vos pages web pour une meilleure apparence dans les moteurs de recherche!)<br>Plus de détails sur <a href='https://schema.org/docs/gs.html' target='_blank'>Schema.org</a><br>
               <a href='https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1' target='_blank'><img src="{{asset('assets/images/seo/ref16.png')}}" width="800px"></a>
               ================================================================================
               
               <br><br>
               13. Indiquez l'url de la page que vous souhaitez baliser!<br>
               <a href='https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1' target='_blank'><img src="{{asset('assets/images/seo/ref14.png')}}" width="513px"></a>
               ================================================================================
            
               <br><br>
               14. Surligner les éléments à baliser!<br>
               <a href='https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1' target='_blank'><img src="{{asset('assets/images/seo/ref15.png')}}" width="800px"></a>
               ================================================================================
               
               <br><br>
               15. Analyser le résultat de votre balisage de données et rectifier les erreurs éventuelles!<br>
               <a href='https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1' target='_blank'><img src="{{asset('assets/images/seo/ref17.png')}}" width="800px"></a>
               ================================================================================
               
               <br><br>
               16. État de l’indexation(Suivez la progression de l'ensemble de vos pages indexé dans Google!)<br>
               <a href='https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1' target='_blank'><img src="{{asset('assets/images/seo/ref12.png')}}" width="800px"></a>
               ================================================================================
               
               <br><br>
               17. Analyse de la recherche(Clics + Impressions)<br>
               <a href='https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1' target='_blank'><img src="{{asset('assets/images/seo/ref13.png')}}" width="800px"></a>
               ================================================================================
               
               <br><br>
               

               Balisage des données de type Recipe à placer dans le head d'une page HTML:<br>

<textarea rows="9" data-type="textArea" data-name="ogtCode" data-onclick="selectOgtJs" wrap="off" readonly="readonly" class="W_DECORATE_ELEMENT _GAJh _GAoV _GAi4 " style="margin: 8px 0px 16px; width: 890px; height: 705px;">
{{recipe}}
</textarea>

               <br><br>

               Exemple de balisage de données de type Carousel à placer dans le head d'une page HTML:<br>
<textarea rows="9" data-type="textArea" data-name="ogtCode" data-onclick="selectOgtJs" wrap="off" readonly="readonly" class="W_DECORATE_ELEMENT _GAJh _GAoV _GAi4 " style="margin: 8px 0px 16px; width: 890px; height: 630px;">
{{carousel}}
</textarea>

               <br><br>

              Exemple de robot.txt:
<textarea rows="9" data-type="textArea" data-name="ogtCode" data-onclick="selectOgtJs" wrap="off" readonly="readonly" class="W_DECORATE_ELEMENT _GAJh _GAoV _GAi4 " style="margin: 8px 0px 16px; width: 890px; height: 160px;">
# bloque l'indexation des images pour les robots
User-agent: *
Disallow: /*.jpg$
Disallow: /*.png$
Disallow: /*.gif$
Disallow: /images/
Allow: /

# si vous avez des sitemaps c'est bien de spécifier son/ses emplacements
Sitemap: https://your-app.herokuapp.com/sitemap.xml

</textarea>  
               
<br><br>

<p align="center">
================================================================================
  <a href="https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1"><img src="https://platform-media.herokuapp.com/assets/images/reseaux-sociaux/youtube2.png" width="400" height="150"/></a>
  <a href="https://www.facebook.com/vertingo/"><img src="https://platform-media.herokuapp.com/assets/images/reseaux-sociaux/rejoins_nous.png" width="400" height="150"/></a>
================================================================================
</p>
											
											
											
                                            </strong></h4>
											</td>
										</tr>
										<tr>
											<td valign='bottom' class='text-center'>
												<table cellpadding='0' cellspacing='0' border='0' align='center'>
													<tr>
														<td align='right' style='padding: 0 6px 0 0'>
															<a href='http://www.vertin-go.com/site/index.asp?DL=548982&page=525872' target='_blank' style=' display: block; height: 54px; width: 150px; text-align: center; background: #EF5343; 
																color: #ffffff; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 14px; 
																padding: 10px 0 0 0;'>
																<h6>L'actualit&eacute; Vertin Go Website!</h6>
															</a>
														</td>
															<td align='left'>
															<a href='https://platform-media.herokuapp.com/uploads/Support_PDF!/Google%20et%20le%20R%C3%A9f%C3%A9rencement!/Referencement_Pdf.pdf' target='_blank' style=' display: block; height: 54px; width: 152px; text-align: center; background: #E57E73; 
																color: #ffffff; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 14px; 
																padding: 10px 0 0 0;'>
																<h6>Le tuto en Pdf (<img src="{{asset('assets/images/file-manager/pdf.jpg')}}" width='15px;'>)</h6>
															</a>
														</td>
													</tr>
												</table>  
											</td>
										</tr>
									</table>
								</td>
								<td valign='top' class='hide'> 
									<img src="{{asset('assets/images/template/i4/right-corner.jpg')}}" width='20' height='18' border='0' class='image-fix' style='outline: none; 
										text-decoration: none; -ms-interpolation-mode: bicubic; display: inline; border: none; display: block;' />
								</td>
							</tr>
						</table>  
					</td>
				</tr>
			</table>
			<!-- Header with corners ends -->

			<!-- Seperator start -->
			<table width='800' cellspacing='0' align='center' cellpadding='0' border='0' class='content-wrap'>
				<tr>
					<td height='16'>&nbsp;</td>
				</tr>
			</table>
			<!-- Seperator end -->

	
			<!-- Banner starts -->
			<table width='760' cellspacing='0' align='center' cellpadding='0' border='0' class='content-wrap'>
				<tr>
					<td>
						<a href='http://www.vertin-go.com/site/index.asp?DL=548982&page=525872' target='_blank'><img src="{{asset('assets/images/topsite/BanniereTopSite.png')}}"  width='760' height='100' border='0' class='image-fix responsive-img' style='outline: none; 
							text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block;' /> </a>
					</td>
				</tr>
			</table>
			<!-- Banner ends -->
			

	<!-- Seperator start -->
			<table width='800' cellspacing='0' align='center' cellpadding='0' border='0' class='content-wrap'>
				<tr>
					<td height='16'>&nbsp;</td>
				</tr>
			</table>
			<!-- Seperator end -->

	

			<!-- Footer starts -->
			<table width='760' cellspacing='0' align='center' cellpadding='0' border='0' bgcolor='#EE5242' class='content-wrap'>
				<tr>
					<td style='padding: 25px 20px;'>
						<table cellspacing='0' cellpadding='0' border='0' class='full-width' align='right'>
							<tr>
								<td style='font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #ffffff; padding: 0 0 25px;'>
									<img src="{{asset('assets/images/template/i4/mail-icon.jpg')}}" width='16' height='11' border='0' style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: inline; border: none'/> 
									<a href='mailto:#' style='text-decoration: none; color: #ffffff;'>
										admin@vertin-go.com
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<table cellspacing='0' cellpadding='0' border='0'>
										<tr>
											<td style='font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #F4A096; padding: 0 0 10px;'>
												Follow us:
											</td>
										</tr>
										<tr>
											<td style='padding: 0 0 15px; word-spacing: 3px; line-height: 23px;'>
												<a href='https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1' target='_blank' title='Youtube' style='text-decoration: none;'>
													<img src="{{asset('assets/images/template/i4/footer-social/youtube.jpg')}}" width='18' height='15' border='0' style='outline: none; text-decoration: none;
														-ms-interpolation-mode: bicubic; display: inline; border: none'/>
												</a>
												<a href='https://www.facebook.com/vertingo/' target='_blank' title='Facebook' style='text-decoration: none;'>
													<img src="{{asset('assets/images/template/i4/footer-social/facebook.jpg')}}" width='9' height='14' border='0' style='outline: none; 
														text-decoration: none; -ms-interpolation-mode: bicubic; display: inline; border: none'/>
												</a>
												<a href='https://twitter.com/Vertin_Go' target='_blank' title='Twitter' style='text-decoration: none;'>
													<img src="{{asset('assets/images/template/i4/footer-social/twitter.jpg')}}" width='16' height='13' border='0' style='outline: none; 
														text-decoration: none; -ms-interpolation-mode: bicubic; display: inline; border: none'/>
												</a>
					
												<a href='https://plus.google.com/u/0/102726855061143896344' target='_blank' title='Google+' style='text-decoration: none;'>
													<img src="{{asset('assets/images/template/i4/footer-social/google-plus.jpg')}}" width='14' height='14' border='0' style='outline: none; 
														text-decoration: none; -ms-interpolation-mode: bicubic; display: inline; border: none'/>
												</a>
												<a href='http://feeds.feedburner.com/VertinGosBlog' target='_blank' title='RSS' style='text-decoration: none;'>
													<img src="{{asset('assets/images/template/i4/footer-social/rss.jpg')}}" width='15' height='15' border='0' style='outline: none; text-decoration: none; 
														-ms-interpolation-mode: bicubic; display: inline; border: none'/>
												</a>
											</td>
										</tr>
											<tr>
										<td>
									
										<a href='https://play.google.com/store/apps/details?id=com.vertin_go.myapplication&hl=fr' target='_blank'><img src="{{asset('assets/images/topsite/app-store-google-play.png')}}" width='145' height='125'/> </a>
										</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<table cellspacing='0' cellpadding='0' border='0' align='left' class='full-width'>
							<tr>
								<td style='font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #F4A096; padding: 0 0 15px;'>
									<h4>&copy; 2013 HQDesigns, Inc. <br />
									<!--<a href='http://vertin-go.com/TopSite/configuration/FPDF-master/pdf_archives_by_membres/archive_experience_et_stats_topsite2.php?pseudo=$res[pseudo]' target='_blank'>N'oubliez pas que vous pouvez consulter &agrave; tout moment votre recueil d'activit&eacute; TopSite<br> constamment mis &agrave; jour au format pdf(<img src="{{asset('assets/images/file-manager/pdf.jpg')}}" width='15px;'>)!<br> Inclus dans votre rapport: <ul><li>Des statistiques g&eacute;n&eacute;rales et personnelles!</li> + <li>Votre inventaire des notifications facebook re&ccedil;us!</li> + <li>Des statistiques d&eacute;taill&eacute;s de vos sites, annonces, vid&eacute;os, et documents et bien plus!</li></ul> </a><br>-->Tous droits r&eacute;serv&eacute;s
                                    </h4>
								</td>
							</tr>
							<tr>
								<td style='font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #F4A096; padding: 0 0 15px;'>
                               
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<!-- Footer ends -->

		</td> 
	</tr>
</table></center>
<!-- Wrapper table ends -->




               
               

</div>
</div>
</div>
</section>

<section class="features18 popup-btn-cards cid-qpPu3C112r" id="features18-5f" data-rv-view="6784">
    <div class="container">
        <div class="media-container-row pt-5">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center">
                            <a href="{{ path('vertingo-website-introduction') }}" class="btn btn-primary">Live Demo</a>
                        </div>
                        <a href="{{ path('vertingo-website-introduction') }}"><img src="{{asset('assets/images/intro-1.jpg')}}" alt="Mobirise" title="" media-simple="true"></a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            INTROS</h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center">
                            <a href="{{ path('learn-symfony-framework') }}" class="btn btn-primary">
                                Live Demo</a>
                        </div>
                        <a href="{{ path('learn-symfony-framework') }}"><img src="{{asset('assets/images/images-video.jpg')}}" alt="Mobirise" title="" media-simple="true"></a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">IMAGES &amp; VIDEOS</h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center">
                            <a href="{{ path('learn-android-studio-development-and-google-play-deployment') }}" class="btn btn-primary">
                                Live Demo</a>
                        </div>
                        <a href="{{ path('learn-android-studio-development-and-google-play-deployment') }}"><img src="{{asset('assets/images/slider.jpg')}}" alt="Mobirise" title="" media-simple="true"></a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            SLIDERS</h4>      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features18 popup-btn-cards cid-qpPvFSLFry" id="features18-5m" data-rv-view="6796">
    <div class="container">    
        <div class="media-container-row pt-5">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center">
                            <a href="{{ path('glossary-informatics-block') }}" class="btn btn-primary">
                                Live Demo
                            </a>
                        </div>
                        <img src="{{asset('assets/images/info.jpg')}}" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            INFO BLOCKS</h4>
                    </div>
                </div>
            </div>
		<div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center">
                            <a href="{{ path('social-blocks') }}" class="btn btn-primary">
                                Live Demo
                            </a>
                        </div>
                        <img src="{{asset('assets/images/social.jpg')}}" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            SOCIAL&nbsp;BLOCKS</h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="{{ path('testimonials') }}" class="btn btn-primary">
                                Live Demo</a></div>
                        <img src="{{asset('assets/images/testimonials.jpg')}}" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            TESTIMONIALS</h4>      
                    </div>
                </div>
            </div>
		</div>
    </div>
</section>

<section class="mbr-section info3 cid-qpgJh3onLZ" id="info3-33" data-rv-view="7049">

    <div style='overflow-x:scroll;overflow-y:hidden;width:1500px;height:350px'>
    <div style='width:1500px;height:350px'>
     {{ sonata_block_render({ 'type': 'sonata.block.service.rss' ,'limit': 3}, {
    'title': 'Vertin Go Website Feeds',
    'url': 'http://feeds.feedburner.com/CommentFonderUnBusinessEnLigne'
}) }}
    </div>
    </div>

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © Copyright 2017 Mobirise - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>

<script src="{{ asset('bundles/usnnewsletter/js/main.js') }}"></script>

  <script src="{{ asset('assets/web/assets/jquery/jquery.min.js') }}"></script>
  <script src="{{ asset('assets/popper/popper.min.js') }}"></script>
  <script src="{{ asset('assets/tether/tether.min.js') }}"></script>
  <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('assets/smooth-scroll/smooth-scroll.js') }}"></script>
  <script src="{{ asset('assets/dropdown/js/script.min.js') }}"></script>
  <script src="{{ asset('assets/touch-swipe/jquery.touch-swipe.min.js') }}"></script>
  <script src="{{ asset('assets/theme/js/script.js') }}"></script>
  
<div id="smart-banner-container"></div>
{% endblock %}