{% extends "::base.html.twig" %}

{% block title %}VideoPlayerBundle:VideoPlayer:listvideo{% endblock %}

{% block body %}

<section class="menu cid-qpg357PDtf" id="menu2-q" data-rv-view="7134">
    <nav class="navbar navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                
                <span class="navbar-caption-wrap">
                    <a class="navbar-caption display-4 text-white" href="https://www.facebook.com/vertingo/">
                        VERTIN GO WEBSITE!</a>
                </span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown display-4" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-white" href="index.html" aria-expanded="true"></a></li><li class="nav-item dropdown open">
                    <a class="nav-link link dropdown-toggle text-white" href="https://mobirise.com" data-toggle="dropdown-submenu" aria-expanded="true">
                        MENU BLOCKS</a><div class="dropdown-menu"><a class="dropdown-item text-white" href="{{ path('vertingo-website-introduction') }}">[Section] Introduction</a><a class="dropdown-item text-white" href="{{ path('glossary-informatics-block') }}">[Section] Glossaire Informatique Blocks</a><a class="dropdown-item text-white" href="{{ path('learn-symfony-framework') }}">[Section] Symfony Projets et Videos Blocks</a><a class="dropdown-item text-white" href="{{ path('learn-android-studio-development-and-google-play-deployment') }}">[Section] Android Api et Déploiement Blocks</a><a class="dropdown-item text-white" href="{{ path('try-my-own-google-spreadsheet') }}">[Tutoriel] Initiation à l'utilisation de Google SpreadSheet!</a><a class="dropdown-item text-white" href="{{ path('build-my-own-chatbot') }}">[Tutoriel] Créer et déployer son Chat-Bot!</a><a class="dropdown-item text-white" href="{{ path('build-my-own-vertingo-website') }}">[Tutoriel] Mettre en ligne son Site!</a><a class="dropdown-item text-white" href="{{ path('how-to-integrate-google-data-analytics') }}">[Section] Comment intégrer Google Data Analytics</a><a class="dropdown-item text-white" href="{{ path('how-to-integrate-youtube-data-analytics') }}">[Section] Comment intégrer YouTube Data Analytics</a><a class="dropdown-item text-white" href="{{ path('index-your-website-and-learn-how-to-become-well-ranked-in-search-engine') }}">[Tutoriel] Apprentissage du SEO avec Google Webmaster Tools!</a><a class="dropdown-item text-white" href="{{ path('my-youtube-list-playlist',{'pseudo': 'vertingo'}) }}">[Section] YouTube PlayLists VertinGo Website Blocks</a><a class="dropdown-item text-white" href="https://platform-media.herokuapp.com/front_file_manager?conf=default&route=/Support_PDF%21/Initiation%20%C3%A0%20AndroidStudio%21&view=list">[Section] File Manager VertinGo Website Blocks</a><a class="dropdown-item text-white" href="{{ path('download-and-install-locally') }}">[Section] Télécharge et installe l'application en local!</a><a class="dropdown-item text-white" href="{{ path('social-blocks') }}">[Section] Partage Social Blocks</a><a class="dropdown-item text-white" href="{{ path('testimonials') }}">[Section] Temoignages</a></div>
                </li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary" href="http://vertin-go.com/Fonctions_Annexes/annexes/pdt-page-de-telechargement/install/download.php?fichier=Install_Ex%C3%A9cutable_Windows_32_bits">
                    Download for Windows</a> <a class="btn btn-sm btn-primary" href="https://mobirise.com/mobirise-free-mac.zip">
                    for Mac</a></div>
        </div>
    </nav>
</section>

<section class="engine"><a href="https://mobirise.co/q">bootstrap slider</a></section><section class="header11 cid-qpgoIXShIr" id="header11-w" data-rv-view="7131">

    <!-- Block parameters controls (Blue "Gear" panel) -->         
    <!-- End block parameters -->

    <div class="container align-left">
        <div class="media-container-column mbr-white col-md-12">
            <h1 class="mbr-section-title py-3 mbr-fonts-style display-1"><strong>SYMFONY </strong>&amp; <strong>VIDEOS </strong>BLOCKS</h1>
        </div>
    </div>
</section>

<!--<section class="cid-qpgoF61TMh" id="video2-t" data-rv-view="7140">
    <figure class="mbr-figure align-center">
        <div class="video-block" style="width: 60%;">
            <div><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/v7uCji-WhjY?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0" width="780" height="520" frameborder="0" allowfullscreen></iframe></div>
        </div>
    </figure>
</section>-->

<section class="carousel slide cid-qtT8uN0fgr" data-interval="false" id="slider2-9qqq" data-rv-view="7181">
        <div class="container content-slider">
            <div class="content-slider-wrap" style="width: 100%;">
            <div>
            <div class="mbr-slider slide carousel" data-pause="true" data-keyboard="false" data-ride="false" data-interval="false">
            <ol class="carousel-indicators">
            <li data-app-prevent-settings="" data-target="#slider2-9qqq" class=" active" data-slide-to="0"></li>
            <li data-app-prevent-settings="" data-target="#slider2-9qqq" data-slide-to="1"></li>
            <li data-app-prevent-settings="" data-target="#slider2-9qqq" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
            
            <div class="carousel-item slider-fullscreen-image active" data-bg-video-slide="false" style="background-image: url({{asset('assets/images/symfony/symfony2.jpg')}});"><div class="container container-slide"><div class="image_wrapper"><div class="mbr-overlay"></div><img src="{{asset('assets/images/symfony/symfony2.jpg')}}"><div class="carousel-caption justify-content-center">
            <div class="video-block" style="width: 100%;">
            <div><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/v7uCji-WhjY?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0" width="780" height="520" frameborder="0" allowfullscreen></iframe></div>
            </div>
            </div></div></div></div>

            <div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url({{asset('assets/images/symfony/symfony2.jpg')}});"><div class="container container-slide"><div class="image_wrapper"><div class="mbr-overlay"></div><img src="{{asset('assets/images/symfony/symfony2.jpg')}}"><div class="carousel-caption justify-content-center">
            <div class="video-block" style="width: 100%;">
            <div><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/_GJQAZ6x8fY?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0" width="780" height="520" frameborder="0" allowfullscreen></iframe></div>
            </div>
            </div></div></div></div>

            <div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url({{asset('assets/images/symfony/symfony2.jpg')}});"><div class="container container-slide"><div class="image_wrapper"><div class="mbr-overlay"></div><img src="{{asset('assets/images/symfony/symfony2.jpg')}}"><div class="carousel-caption justify-content-center">
            <div class="video-block" style="width: 100%;">
            <div><iframe class="mbr-embedded-video" src="https://www.youtube.com/embed/pp7wnB22mAQ?rel=0&amp;amp;showinfo=0&amp;autoplay=0&amp;loop=0" width="780" height="520" frameborder="0" allowfullscreen></iframe></div>
            </div>
            </div></div></div></div>

            </div>
            <a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#slider2-9qqq">
            <span aria-hidden="true" class="mbri-left mbr-iconfont"></span>
            <span class="sr-only">Previous</span></a>
            <a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next" href="#slider2-9qqq">
            <span aria-hidden="true" class="mbri-right mbr-iconfont"></span>
            <span class="sr-only">Next</span>
            </a>
            </div>
            </div> 
        </div>
    </div>
    <center><h6 class="mbr-section-title py-3 mbr-fonts-style display-5">Le GitHub du projet pour vous mettre dans le bain avec Symfony: <a class="btn btn-primary" href="https://github.com/vertingo/Omdb_Api_Vertin_Go_Website" target="_blank">Le GitHub du projet OMDBAPI!</a></h6></center>
    
    

    <hr style="background-color: rgb(94, 203, 255);">
<center><h6 class="mbr-section-title py-3 mbr-fonts-style display-5">Besoin de faire une pause? Jete un coup d'oeil au mini jeu de strategie défensive à installer sur ton Mobile ci-dessous ;)</h6></center>
<section class="cid-qq0w1eMXhb" id="image4-9e" data-rv-view="7142">
<!-- Block parameters controls (Blue "Gear" panel) -->

<!-- End block parameters -->
    <div class="container images-container">
            <div class="media-container-row" style="width: 41%;">
                <div class="img-item item1" style="width: 100%;">
                    <img src="{{asset('assets/images/04.jpg')}}" media-simple="true">
                </div>
                <div class="img-item" style="width: 41%;">
                    <img src="{{asset('assets/images/05.jpg')}}" media-simple="true">
                </div>
            </div>
    </div>
</section>

<section class="carousel slide cid-qtT8uN0fgr" data-interval="false" id="slider2-4v" data-rv-view="7193">
    <div class="container content-slider">
        <div class="content-slider-wrap" style="width: 100%;">
            <div><div class="mbr-slider slide carousel" data-pause="true" data-keyboard="false" data-ride="false" data-interval="false">
            <ol class="carousel-indicators">
            <li data-app-prevent-settings="" data-target="#slider2-4v" class=" active" data-slide-to="0"></li>
            <li data-app-prevent-settings="" data-target="#slider2-4v" data-slide-to="1"></li>
           
            </ol>
            <div class="carousel-inner" role="listbox">
            <div class="carousel-item slider-fullscreen-image active" data-bg-video-slide="false" style="background-image: url(assets/images/tower-game/tower-game.jpg)asset('assets/images/symfony/symfony2.jpg');">
            <div class="container container-slide">
            <div class="image_wrapper">
            <div class="mbr-overlay"></div>
            <img src="{{asset('assets/images/tower-game/tower-game.jpg')}}">
            <div class="carousel-caption justify-content-center">
            <div class="col-10 align-center">
            <p class="lead mbr-text mbr-fonts-style display-7">Jeu de stratégie défensive Tower Defense!<br>
            Le clic sur le slide ne fonctionne pas? Pas de panique d'autres jeux sont prévues pour alimenter 
            les différentes slides! Rester bien connecté avec Vertin Go Website et n'hésitez pas à nous suivre 
            sur les réseaux sociaux!</p>

            {{smart_container | raw}}
            
            <div class="mbr-section-btn py-4">
                    <a class="btn btn-md btn-primary" href="https://play.google.com/store/apps/details?id=com.VertinGoWebsite.TowerDefense" target="_blank">La fiche Play Store du jeu!</a>
                    <a class="btn btn-md btn-white-outline" href="https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1" target="_blank">S'abonner pour suivre les dernières news!</a>
            </div>
            </div></div></div></div></div>
             <!--<div class="carousel-item slider-fullscreen-image" data-bg-video-slide="false" style="background-image: url(assets/images/tower-game/tower-game.jpg);">
            <div class="container container-slide">
            <div class="image_wrapper">
            <div class="mbr-overlay"></div>
            <img src="assets/images/tower-game/tower-game.jpg">
            <div class="carousel-caption justify-content-center">
            <div class="col-10 align-center">
            <p class="lead mbr-text mbr-fonts-style display-7">Comment déployer une application sur le Play Store!</p>
            </div></div></div></div></div>-->
            </div>
            <a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev" href="#slider2-4v">
            <span aria-hidden="true" class="mbri-left mbr-iconfont"></span>
            <span class="sr-only">Previous</span></a>
            <a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next" href="#slider2-4v">
            <span aria-hidden="true" class="mbri-right mbr-iconfont"></span>
            <span class="sr-only">Next</span></a>
            </div>
            </div> 
        </div>
    </div>
    <center><div class="fb-comments" data-href="https://platform-media.herokuapp.com/imagesvideos" data-width="956" data-numposts="100"></div><br>
</section>

<hr style="background-color: rgb(94, 203, 255);">

<section class="features18 popup-btn-cards cid-qpPu3C112r" id="features18-5f" data-rv-view="6784">
    <br>
    <br>
    <center><h6 class="mbr-section-title py-3 mbr-fonts-style display-5">Retrouver tous les projets Vertin Go Website et Support de cours dans le File Manager ci-dessous:</h6></center>
    <div class="container">
        <div class="media-container-row pt-5">
             <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                           <a href="https://platform-media.herokuapp.com/front_file_manager?conf=default&route=/Support_PDF%21/Initiation%20%C3%A0%20AndroidStudio%21&view=thumbnail" target="_blank"><img src="{{asset('assets/images/file-manager/file-manager.png')}}" width="300px" alt="File Manager" title="" media-simple="true"></a><br>
                           <a class="btn btn-primary" href="https://platform-media.herokuapp.com/front_file_manager?conf=default&route=/Support_PDF%21/Initiation%20%C3%A0%20AndroidStudio%21&view=thumbnail" target="_blank"> FILE MANAGER</a>
                           </h4>
                           <br>
                          
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<hr style="background-color: rgb(94, 203, 255);">

<section class="features18 popup-btn-cards cid-qpPu3C112r" id="features18-5f" data-rv-view="6784">
    <div class="container">
        <div class="media-container-row pt-5">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center">
                            <a href="{{ path('vertingo-website-introduction') }}" class="btn btn-primary">Live Demo</a>
                        </div>
                        <a href="{{ path('vertingo-website-introduction') }}"><img src="{{asset('assets/images/intro-1.jpg')}}" alt="Mobirise" title="" media-simple="true"></a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            INTROS</h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center">
                            <a href="{{ path('learn-symfony-framework') }}" class="btn btn-primary">
                                Live Demo</a>
                        </div>
                        <a href="{{ path('learn-symfony-framework') }}"><img src="{{asset('assets/images/images-video.jpg')}}" alt="Mobirise" title="" media-simple="true"></a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">IMAGES &amp; VIDEOS</h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center">
                            <a href="{{ path('learn-android-studio-development-and-google-play-deployment') }}" class="btn btn-primary">
                                Live Demo</a>
                        </div>
                        <a href="{{ path('learn-android-studio-development-and-google-play-deployment') }}"><img src="{{asset('assets/images/slider.jpg')}}" alt="Mobirise" title="" media-simple="true"></a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            SLIDERS</h4>      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features18 popup-btn-cards cid-qpPvFSLFry" id="features18-5m" data-rv-view="6796">
    <div class="container">    
        <div class="media-container-row pt-5">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center">
                            <a href="{{ path('glossary-informatics-block') }}" class="btn btn-primary">
                                Live Demo
                            </a>
                        </div>
                        <img src="{{asset('assets/images/info.jpg')}}" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            INFO BLOCKS</h4>
                    </div>
                </div>
            </div>
		<div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center">
                            <a href="{{ path('social-blocks') }}" class="btn btn-primary">
                                Live Demo
                            </a>
                        </div>
                        <img src="{{asset('assets/images/social.jpg')}}" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            SOCIAL&nbsp;BLOCKS</h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="{{ path('testimonials') }}" class="btn btn-primary">
                                Live Demo</a></div>
                        <img src="{{asset('assets/images/testimonials.jpg')}}" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            TESTIMONIALS</h4>      
                    </div>
                </div>
            </div>
		</div>
    </div>
</section>



<section class="mbr-section info3 cid-qpgJh3onLZ" id="info3-33" data-rv-view="7049">

    <div style='overflow-x:scroll;overflow-y:hidden;width:1500px;height:350px'>
    <div style='width:1500px;height:350px'>
    

 {{ sonata_block_render({ 'type': 'sonata.block.service.rss' }, {
    'title': 'Vertin Go Website Feeds',
    'url': 'http://feeds.feedburner.com/VertinGosBlog'
}) }}

    </div>
    </div>


    
    <div class="container">

        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
           
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © Copyright 2017 Mobirise - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>


  <script src="{{ asset('assets/web/assets/jquery/jquery.min.js') }}"></script>
  <script src="{{ asset('assets/popper/popper.min.js') }}"></script>
  <script src="{{ asset('assets/tether/tether.min.js') }}"></script>
  <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('assets/smooth-scroll/smooth-scroll.js') }}"></script>
  <script src="{{ asset('assets/dropdown/js/script.min.js') }}"></script>
  <script src="{{ asset('assets/touch-swipe/jquery.touch-swipe.min.js') }}"></script>
  <script src="{{ asset('assets/theme/js/script.js') }}"></script>
  
<div id="smart-banner-container"></div>
{% endblock %}