{% extends "::base.html.twig" %}

{% block title %}VideoPlayerBundle:VideoPlayer:listvideo{% endblock %}

{% block body %}

<!-- -->

<section class="menu cid-qpg357PDtf" id="menu2-3t" data-rv-view="6879">
    <nav class="navbar navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                
                 <span class="navbar-caption-wrap">
                    <a class="navbar-caption display-4 text-white" href="https://www.facebook.com/vertingo/">
                        VERTIN GO WEBSITE!</a>
                </span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown display-4" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-white" href="index.html" aria-expanded="true"></a></li><li class="nav-item dropdown open">
                    <a class="nav-link link dropdown-toggle text-white" href="https://mobirise.com" data-toggle="dropdown-submenu" aria-expanded="true">
                        MENU BLOCKS</a><div class="dropdown-menu"><a class="dropdown-item text-white" href="{{ path('vertingo-website-introduction') }}">[Section] Introduction</a><a class="dropdown-item text-white" href="{{ path('glossary-informatics-block') }}">[Section] Glossaire Informatique Blocks</a><a class="dropdown-item text-white" href="{{ path('learn-symfony-framework') }}">[Section] Symfony Projets et Videos Blocks</a><a class="dropdown-item text-white" href="{{ path('learn-android-studio-development-and-google-play-deployment') }}">[Section] Android Api et Déploiement Blocks</a><a class="dropdown-item text-white" href="{{ path('try-my-own-google-spreadsheet') }}">[Tutoriel] Initiation à l'utilisation de Google SpreadSheet!</a><a class="dropdown-item text-white" href="{{ path('build-my-own-chatbot') }}">[Tutoriel] Créer et déployer son Chat-Bot!</a><a class="dropdown-item text-white" href="{{ path('build-my-own-vertingo-website') }}">[Tutoriel] Mettre en ligne son Site!</a><a class="dropdown-item text-white" href="{{ path('how-to-integrate-google-data-analytics') }}">[Section] Comment intégrer Google Data Analytics</a><a class="dropdown-item text-white" href="{{ path('how-to-integrate-youtube-data-analytics') }}">[Section] Comment intégrer YouTube Data Analytics</a><a class="dropdown-item text-white" href="{{ path('index-your-website-and-learn-how-to-become-well-ranked-in-search-engine') }}">[Tutoriel] Apprentissage du SEO avec Google Webmaster Tools!</a><a class="dropdown-item text-white" href="{{ path('my-youtube-list-playlist',{'pseudo': 'vertingo'}) }}">[Section] YouTube PlayLists VertinGo Website Blocks</a><a class="dropdown-item text-white" href="https://platform-media.herokuapp.com/front_file_manager?conf=default&route=/Support_PDF%21/Initiation%20%C3%A0%20AndroidStudio%21&view=list">[Section] File Manager VertinGo Website Blocks</a><a class="dropdown-item text-white" href="{{ path('download-and-install-locally') }}">[Section] Télécharge et installe l'application en local!</a><a class="dropdown-item text-white" href="{{ path('social-blocks') }}">[Section] Partage Social Blocks</a><a class="dropdown-item text-white" href="{{ path('testimonials') }}">[Section] Temoignages</a></div>
                </li></ul>
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary" href="http://vertin-go.com/Fonctions_Annexes/annexes/pdt-page-de-telechargement/install/download.php?fichier=Install_Ex%C3%A9cutable_Windows_32_bits">
                    Download for Windows</a> <a class="btn btn-sm btn-primary" href="https://mobirise.com/mobirise-free-mac.zip">
                    for Mac</a></div>
        </div>
    </nav>
</section>

<section class="engine"><a href="https://mobirise.co/q">bootstrap carousel</a></section><section class="header11 cid-qpgOUddr6V" id="header11-3u" data-rv-view="6881">
    <!-- Block parameters controls (Blue "Gear" panel) -->     
    <!-- End block parameters -->
    <div class="container align-left">
        <div class="media-container-column mbr-white col-md-12">
            <h1 class="mbr-section-title py-3 mbr-fonts-style display-1"><strong>TESTIMONIALS </strong>BLOCKS</h1>
        </div>
    </div>
</section>

<section class="testimonials1 cid-qpgOWqRveh" id="testimonials1-3v" data-rv-view="6884">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 align-center">
                <h2 class="pb-3 mbr-fonts-style display-2">
                    WHAT OUR FANTASTIC USERS SAY
                </h2>
                <h3 class="mbr-section-subtitle mbr-light pb-3 mbr-fonts-style display-5">
                    This theme is based on Bootstrap 4 - most powerful mobile first framework
                </h3>
            </div>
        </div>
    </div>

    <div class="container pt-3 mt-2">
        <div class="media-container-row">
            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/matheus-ferrero.jpg" alt="" title="" media-simple="true">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, aspernatur, voluptatibus, atque, tempore molestiae.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             John Smith
                        </div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                               Developer
                        </small>
                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/pete-bellis.jpg" alt="" title="" media-simple="true">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, aspernatur, voluptatibus, atque, tempore molestiae.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             John Smith
                        </div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                               Developer
                        </small>
                    </div>
                </div>
            </div>

            <div class="mbr-testimonial p-3 align-center col-12 col-md-6 col-lg-4">
                <div class="panel-item p-3">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/jimmy-bay.jpg" alt="" title="" media-simple="true">
                        </div>
                        <p class="mbr-text mbr-fonts-style display-7">
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, aspernatur, voluptatibus, atque, tempore molestiae.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style display-7">
                             John Smith
                        </div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style display-7">
                               Developer
                        </small>
                    </div>
                </div>
            </div>            
        </div>
    </div>   
</section>

<section class="testimonials3 cid-qpgOXa3hjk" id="testimonials3-3x" data-rv-view="6887">
    <div class="container">
        <div class="media-container-row">
            <div class="media-content px-3 align-self-center mbr-white py-2">
                <p class="mbr-text testimonial-text mbr-fonts-style display-7">
                   It's really very amazing app that makes me finish html page in 3 minutes that's usually takes more than 1 hours at least from me if i did it from scratch
                </p>
                <p class="mbr-author-name pt-4 mb-2 mbr-fonts-style display-7">
                   Julie C.
                </p>
                <p class="mbr-author-desc mbr-fonts-style display-7">
                   INTERFACE DESIGNER
                </p>
            </div>
            <div class="mbr-figure pl-lg-5" style="width: 130%;">
              <img src="assets/images/face5.jpg" media-simple="true">
            </div>
        </div>
    </div>
</section>

<section class="testimonials4 cid-qq0kGv90gM" id="testimonials4-99" data-rv-view="6890">
  <div class="container">
    <h2 class="pb-3 mbr-fonts-style mbr-white align-center display-2">
        WHAT OUR FANTASTIC USERS SAY
    </h2>
    <h3 class="mbr-section-subtitle mbr-light pb-3 mbr-fonts-style mbr-white align-center display-5">
        Click any text to edit or style it. Click blue "Gear" icon in the top right corner to hide/show images, titles and change the amount items or the block and cards background.
    </h3>
    <div class="col-md-10 testimonials-container"> 
    <div class="testimonials-item">
        <div class="user row">
          <div class="col-lg-3 col-md-4">
            <div class="user_image">
              <img src="assets/images/face3.jpg" media-simple="true">
            </div>
          </div>
          <div class="testimonials-caption col-lg-9 col-md-8">
            <div class="user_text ">
              <p class="mbr-fonts-style align-left display-7">
                 <em>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nostrum, quos voluptas fugiat blanditiis, temporibus expedita cumque doloribus ea, officiis consequuntur repellat minus ad veritatis? Facere similique accusamus, accusantium sunt!"</em>
              </p>
            </div>
            <div class="user_name mbr-bold mbr-fonts-style align-left pt-3 display-7">
                 Helen
            </div>
            <div class="user_desk mbr-light mbr-fonts-style align-left pt-2 display-7">
                 DESIGNER
            </div>
          </div>
        </div>
      </div><div class="testimonials-item">
        <div class="user row">
          <div class="col-lg-3 col-md-4">
            <div class="user_image">
              <img src="assets/images/face1.jpg" media-simple="true">
            </div>
          </div>
          <div class="testimonials-caption col-lg-9 col-md-8">
            <div class="user_text">
              <p class="mbr-fonts-style align-left display-7">
                 <em>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nostrum, quos voluptas fugiat blanditiis, temporibus expedita cumque doloribus ea, officiis consequuntur repellat minus ad veritatis? Facere similique accusamus, accusantium sunt!"</em>
              </p>
            </div>
            <div class="user_name mbr-bold mbr-fonts-style align-left pt-3 display-7">
                 Linda
            </div>
            <div class="user_desk mbr-light mbr-fonts-style align-left pt-2 display-7">
                 DEVELOPER
            </div>
          </div>
        </div>
      </div></div>
  </div>
</section>

<section class="carousel slide testimonials-slider cid-qpgOXzqoiM" id="testimonials-slider1-3y" data-rv-view="6898">
    <div class="container text-center">
        <h2 class="pb-5 mbr-fonts-style display-2">
            WHAT OUR FANTASTIC USERS SAY
        </h2>
        <div class="carousel slide" data-ride="carousel" role="listbox">
            <div class="carousel-inner">
            <div class="carousel-item">
                    <div class="user col-md-8">
                        <div class="user_image">
                            <img src="assets/images/mbr-5.jpg" alt="" title="" media-simple="true">
                        </div>
                        <div class="user_text pb-3">
                            <p class="mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nostrum, quos voluptas fugiat blanditiis, temporibus expedita cumque doloribus ea, officiis consequuntur repellat minus ad veritatis? Facere similique accusamus, accusantium sunt!
                            </p>
                        </div>
                        <div class="user_name mbr-bold pb-2 mbr-fonts-style display-7">
                            Kate</div>
                        <div class="user_desk mbr-light mbr-fonts-style display-7">
                            DESIGNER
                        </div>
                    </div>
                </div><div class="carousel-item">
                    <div class="user col-md-8">
                        <div class="user_image">
                            <img src="assets/images/mbr-2.jpg" alt="" title="" media-simple="true">
                        </div>
                        <div class="user_text pb-3">
                            <p class="mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nostrum, quos voluptas fugiat blanditiis, temporibus expedita cumque doloribus ea, officiis consequuntur repellat minus ad veritatis? Facere similique accusamus, accusantium sunt!
                            </p>
                        </div>
                        <div class="user_name mbr-bold pb-2 mbr-fonts-style display-7">
                            Helen
                        </div>
                        <div class="user_desk mbr-light mbr-fonts-style display-7">
                            DESIGNER
                        </div>
                    </div>
                </div><div class="carousel-item">
                    <div class="user col-md-8">
                        <div class="user_image">
                            <img src="assets/images/face3174.jpg" media-simple="true">
                        </div>
                        <div class="user_text pb-3">
                            <p class="mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nostrum, quos voluptas fugiat blanditiis, temporibus expedita cumque doloribus ea, officiis consequuntur repellat minus ad veritatis? Facere similique accusamus, accusantium sunt!
                            </p>
                        </div>
                        <div class="user_name mbr-bold pb-2 mbr-fonts-style display-7">
                            Helen
                        </div>
                        <div class="user_desk mbr-light mbr-fonts-style display-7">
                            DESIGNER
                        </div>
                    </div>
                </div></div>
                <div class="carousel-controls">
                <a class="carousel-control-prev" role="button" data-slide="prev">
                  <span aria-hidden="true" class="mbri-arrow-prev mbr-iconfont"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" role="button" data-slide="next">
                  <span aria-hidden="true" class="mbri-arrow-next mbr-iconfont"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="testimonials2 cid-qpgOWQDvAs" id="testimonials2-3w" data-rv-view="6908">
    <div class="container">
        <div class="media-container-row">
            <div class="mbr-figure pr-lg-5" style="width: 130%;">
              <img src="assets/images/face4.jpg" media-simple="true">
            </div>
            <div class="media-content px-3 align-self-center mbr-white py-2">
                    <p class="mbr-text testimonial-text mbr-fonts-style display-7">
                       Loving the additions to the new version of Mobirise web dev app. It's a great, cleanly designed, user-friendly, not-bloated design program. So easy and a pleasure to use
                    </p>
                    <p class="mbr-author-name pt-4 mb-2 mbr-fonts-style display-7">
                       David F.
                    </p>
                    <p class="mbr-author-desc mbr-fonts-style display-7">
                       DEVELOPER
                    </p>
            </div>
        </div>
    </div>
</section>

<section class="testimonials3 cid-qpImSaxnIf mbr-parallax-background" id="testimonials3-51" data-rv-view="6911">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);">
    </div>

    <div class="container">
        <div class="media-container-row">
            <div class="media-content px-3 align-self-center mbr-white py-2">
                <p class="mbr-text testimonial-text mbr-fonts-style display-7">
                   It's really very amazing app that makes me finish html page in 3 minutes that's usually takes more than 1 hours at least from me if i did it from scratch
                </p>
                <p class="mbr-author-name pt-4 mb-2 mbr-fonts-style display-7">
                   Julie C.
                </p>
                <p class="mbr-author-desc mbr-fonts-style display-7">
                   INTERFACE DESIGNER
                </p>
            </div>

            <div class="mbr-figure pl-lg-5" style="width: 115%;">
              <img src="assets/images/ariel-lustre.jpg" alt="" title="" media-simple="true">
            </div>
        </div>
    </div>
</section>

<section class="clients cid-qq0yT8ZsIA" id="clients-9i" data-rv-view="6914">
        <div class="container mb-5">
            <div class="media-container-row">
                <div class="col-12 align-center">
                    <h2 class="mbr-section-title pb-3 mbr-fonts-style display-2">
                        Our Clients
                    </h2>
                    <h3 class="mbr-section-subtitle mbr-light mbr-fonts-style display-5">
                        Click any image to change it.Click blue "Gear" icon in the top right corner to change background, amount slides and amount visible items at once.
                    </h3>
                </div>
            </div>
        </div>

    <div class="container">
        <div class="carousel slide" data-ride="carousel" role="listbox">
            <div class="carousel-inner" data-visible="5">
            <div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <div class="wrap-img ">
                                <img src="assets/images/1.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div>
                    </div>
                </div><div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <div class="wrap-img ">
                                <img src="assets/images/2.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div>
                    </div>
                </div><div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <div class="wrap-img ">
                                <img src="assets/images/3.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div>
                    </div>
                </div><div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <div class="wrap-img ">
                                <img src="assets/images/4.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div>
                    </div>
                </div><div class="carousel-item ">
                    <div class="media-container-row">
                        <div class="col-md-12">
                            <div class="wrap-img ">
                                <img src="assets/images/5.png" class="img-responsive clients-img" media-simple="true">
                            </div>
                        </div>
                    </div>
                </div></div>
            <div class="carousel-controls">
                <a data-app-prevent-settings="" class="carousel-control carousel-control-prev" role="button" data-slide="prev">
                    <span aria-hidden="true" class="mbri-left mbr-iconfont"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a data-app-prevent-settings="" class="carousel-control carousel-control-next" role="button" data-slide="next">
                    <span aria-hidden="true" class="mbri-right mbr-iconfont"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="carousel slide testimonials-slider cid-qpIrbULw1a" id="testimonials-slider1-52" data-rv-view="6928">
    <div class="mbr-overlay" style="opacity: 0.8; background-color: rgb(255, 255, 255);">
    </div>

    <div class="container text-center">
        <h2 class="pb-5 mbr-fonts-style display-2">
            WHAT OUR FANTASTIC USERS SAY
        </h2>

        <div class="carousel slide" data-ride="carousel" role="listbox">
            <div class="carousel-inner">
            <div class="carousel-item">
                    <div class="user col-md-8">
                        <div class="user_image">
                            <img src="assets/images/matheus-ferrero.jpg" alt="" title="" media-simple="true">
                        </div>
                        <div class="user_text pb-3">
                            <p class="mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nostrum, quos voluptas fugiat blanditiis, temporibus expedita cumque doloribus ea, officiis consequuntur repellat minus ad veritatis? Facere similique accusamus, accusantium sunt!
                            </p>
                        </div>
                        <div class="user_name mbr-bold pb-2 mbr-fonts-style display-7">
                            Helen
                        </div>
                        
                    </div>
                </div><div class="carousel-item">
                    <div class="user col-md-8">
                        <div class="user_image">
                            <img src="assets/images/pete-bellis.jpg" alt="" title="" media-simple="true">
                        </div>
                        <div class="user_text pb-3">
                            <p class="mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nostrum, quos voluptas fugiat blanditiis, temporibus expedita cumque doloribus ea, officiis consequuntur repellat minus ad veritatis? Facere similique accusamus, accusantium sunt!
                            </p>
                        </div>
                        <div class="user_name mbr-bold pb-2 mbr-fonts-style display-7">
                            Linda
                        </div>
                        
                    </div>
                </div><div class="carousel-item">
                    <div class="user col-md-8">
                        <div class="user_image">
                            <img src="assets/images/jimmy-bay.jpg" alt="" title="" media-simple="true">
                        </div>
                        <div class="user_text pb-3">
                            <p class="mbr-fonts-style display-7">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae nostrum, quos voluptas fugiat blanditiis, temporibus expedita cumque doloribus ea, officiis consequuntur repellat minus ad veritatis? Facere similique accusamus, accusantium sunt!
                            </p>
                        </div>
                        <div class="user_name mbr-bold pb-2 mbr-fonts-style display-7">
                            Linda
                        </div>
                    </div>
                </div></div>
            <div class="carousel-controls">
                <a class="carousel-control-prev" role="button" data-slide="prev">
                  <span aria-hidden="true" class="mbri-arrow-prev mbr-iconfont"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" role="button" data-slide="next">
                  <span aria-hidden="true" class="mbri-arrow-next mbr-iconfont"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="testimonials5 cid-qq0yHvC98S" id="testimonials5-9h" data-rv-view="6938">
    <div class="container">
        <div class="media-container-row">
            <div class="title col-12 align-center">
                <h2 class="pb-3 mbr-fonts-style display-2">
                    WHAT OUR FANTASTIC USERS SAY
                </h2>
                <h3 class="mbr-section-subtitle mbr-light pb-3 mbr-fonts-style display-5">
                    Mobirise is one of the easiest website development tools available today.
                </h3>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="media-container-column">
        <div class="mbr-testimonial align-center col-12 col-md-10">
                <div class="panel-item">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/face1175.jpg" media-simple="true">
                        </div>
                        <p class="mbr-text mbr-fonts-style mbr-white display-7">
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, aspernatur, voluptatibus, atque, tempore molestiae.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style mbr-white display-7">
                             John Smith
                        </div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style mbr-white display-7">
                               Developer
                        </small>
                    </div>
                </div>
            </div><div class="mbr-testimonial align-center col-12 col-md-10">
                <div class="panel-item">
                    <div class="card-block">
                        <div class="testimonial-photo">
                            <img src="assets/images/face2.jpg" media-simple="true">
                        </div>
                        <p class="mbr-text mbr-fonts-style mbr-white display-7">
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, aspernatur, voluptatibus, atque, tempore molestiae.
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="mbr-author-name mbr-bold mbr-fonts-style mbr-white display-7">
                             John Smith
                        </div>
                        <small class="mbr-author-desc mbr-italic mbr-light mbr-fonts-style mbr-white display-7">
                               Developer
                        </small>
                    </div>
                </div>
            </div></div>
    </div>   
</section>

<section class="features18 popup-btn-cards cid-qpPu3C112r" id="features18-5f" data-rv-view="6784">
    <div class="container">
        <div class="media-container-row pt-5">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center">
                            <a href="{{ path('vertingo-website-introduction') }}" class="btn btn-primary">Live Demo</a>
                        </div>
                        <a href="{{ path('vertingo-website-introduction') }}"><img src="{{asset('assets/images/intro-1.jpg')}}" alt="Mobirise" title="" media-simple="true"></a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            INTROS</h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center">
                            <a href="{{ path('learn-symfony-framework') }}" class="btn btn-primary">
                                Live Demo</a>
                        </div>
                        <a href="{{ path('learn-symfony-framework') }}"><img src="{{asset('assets/images/images-video.jpg')}}" alt="Mobirise" title="" media-simple="true"></a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">IMAGES &amp; VIDEOS</h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center">
                            <a href="{{ path('learn-android-studio-development-and-google-play-deployment') }}" class="btn btn-primary">
                                Live Demo</a>
                        </div>
                        <a href="{{ path('learn-android-studio-development-and-google-play-deployment') }}"><img src="{{asset('assets/images/slider.jpg')}}" alt="Mobirise" title="" media-simple="true"></a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            SLIDERS</h4>      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features18 popup-btn-cards cid-qpPvFSLFry" id="features18-5m" data-rv-view="6796">
    <div class="container">    
        <div class="media-container-row pt-5">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center">
                            <a href="{{ path('glossary-informatics-block') }}" class="btn btn-primary">
                                Live Demo
                            </a>
                        </div>
                        <img src="{{asset('assets/images/info.jpg')}}" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            INFO BLOCKS</h4>
                    </div>
                </div>
            </div>
		<div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center">
                            <a href="{{ path('social-blocks') }}" class="btn btn-primary">
                                Live Demo
                            </a>
                        </div>
                        <img src="{{asset('assets/images/social.jpg')}}" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            SOCIAL&nbsp;BLOCKS</h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="{{ path('testimonials') }}" class="btn btn-primary">
                                Live Demo</a></div>
                        <img src="{{asset('assets/images/testimonials.jpg')}}" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            TESTIMONIALS</h4>      
                    </div>
                </div>
            </div>
		</div>
    </div>
</section>

<section class="mbr-section info3 cid-qpgJh3onLZ" id="info3-33" data-rv-view="7049">

    <div style='overflow-x:scroll;overflow-y:hidden;width:1500px;height:350px'>
    <div style='width:1500px;height:350px'>
    

 {{ sonata_block_render({ 'type': 'sonata.block.service.rss' }, {
    'title': 'Vertin Go Website Feeds',
    'url': 'http://feeds.feedburner.com/VertinGosBlog'
}) }}

    </div>
    </div>


    
    <div class="container">

        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
           
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © Copyright 2017 Mobirise - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>

  <script src="{{ asset('assets/web/assets/jquery/jquery.min.js') }}"></script>
  <script src="{{ asset('assets/popper/popper.min.js') }}"></script>
  <script src="{{ asset('assets/tether/tether.min.js') }}"></script>
  <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('assets/smooth-scroll/smooth-scroll.js') }}"></script>
  <script src="{{ asset('assets/dropdown/js/script.min.js') }}"></script>
  <script src="{{ asset('assets/touch-swipe/jquery.touch-swipe.min.js') }}"></script>
  <script src="{{ asset('assets/theme/js/script.js') }}"></script>

  <div id="smart-banner-container"></div>
{% endblock %}