{% extends "::base.html.twig" %}

{% block title %}VideoPlayerBundle:VideoPlayer:listvideo{% endblock %}

{% block body %}

<section class="menu cid-qpg357PDtf" id="menu2-2z" data-rv-view="7041">
    <nav class="navbar navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm bg-color transparent">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>
        <div class="menu-logo">
            <div class="navbar-brand">
                
                 <span class="navbar-caption-wrap">
                    <a class="navbar-caption display-4 text-white" href="https://www.facebook.com/vertingo/">
                        VERTIN GO WEBSITE!</a>
                </span>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav nav-dropdown display-4" data-app-modern-menu="true"><li class="nav-item"><a class="nav-link link text-white" href="index.html" aria-expanded="true"></a></li><li class="nav-item dropdown open">
                    <a class="nav-link link dropdown-toggle text-white" href="https://mobirise.com" data-toggle="dropdown-submenu" aria-expanded="true">
                        MENU BLOCKS</a><div class="dropdown-menu"><a class="dropdown-item text-white" href="{{ path('vertingo-website-introduction') }}">[Section] Introduction</a><a class="dropdown-item text-white" href="{{ path('glossary-informatics-block') }}">[Section] Glossaire Informatique Blocks</a><a class="dropdown-item text-white" href="{{ path('learn-symfony-framework') }}">[Section] Symfony Projets et Videos Blocks</a><a class="dropdown-item text-white" href="{{ path('learn-android-studio-development-and-google-play-deployment') }}">[Section] Android Api et Déploiement Blocks</a><a class="dropdown-item text-white" href="{{ path('try-my-own-google-spreadsheet') }}">[Tutoriel] Initiation à l'utilisation de Google SpreadSheet!</a><a class="dropdown-item text-white" href="{{ path('build-my-own-chatbot') }}">[Tutoriel] Créer et déployer son Chat-Bot!</a><a class="dropdown-item text-white" href="{{ path('build-my-own-vertingo-website') }}">[Tutoriel] Mettre en ligne son Site!</a><a class="dropdown-item text-white" href="{{ path('how-to-integrate-google-data-analytics') }}">[Section] Comment intégrer Google Data Analytics</a><a class="dropdown-item text-white" href="{{ path('how-to-integrate-youtube-data-analytics') }}">[Section] Comment intégrer YouTube Data Analytics</a><a class="dropdown-item text-white" href="{{ path('index-your-website-and-learn-how-to-become-well-ranked-in-search-engine') }}">[Tutoriel] Apprentissage du SEO avec Google Webmaster Tools!</a><a class="dropdown-item text-white" href="{{ path('my-youtube-list-playlist',{'pseudo': 'vertingo'}) }}">[Section] YouTube PlayLists VertinGo Website Blocks</a><a class="dropdown-item text-white" href="https://platform-media.herokuapp.com/front_file_manager?conf=default&route=/Support_PDF%21/Initiation%20%C3%A0%20AndroidStudio%21&view=list">[Section] File Manager VertinGo Website Blocks</a><a class="dropdown-item text-white" href="{{ path('download-and-install-locally') }}">[Section] Télécharge et installe l'application en local!</a><a class="dropdown-item text-white" href="{{ path('social-blocks') }}">[Section] Partage Social Blocks</a><a class="dropdown-item text-white" href="{{ path('testimonials') }}">[Section] Temoignages</a></div>
                </li></ul>

        
            <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-primary" href="http://vertin-go.com/Fonctions_Annexes/annexes/pdt-page-de-telechargement/install/download.php?fichier=Install_Ex%C3%A9cutable_Windows_32_bits">
                    Download for Windows</a> <a class="btn btn-sm btn-primary" href="https://mobirise.com/mobirise-free-mac.zip">
                    for Mac</a></div>
        </div>
    </nav>
</section>

<section class="engine"><a href="https://mobirise.co">Mobirise</a></section>
<section class="header11 cid-qpgJbVjMeQ" id="header11-30" data-rv-view="7043">
    <!-- Block parameters controls (Blue "Gear" panel) -->     
    <!-- End block parameters -->
    <div class="container align-left">
        <div class="media-container-column mbr-white col-md-12">
            <h1 class="mbr-section-title py-3 mbr-fonts-style display-1"><strong>TUTORIEL </strong>INITIATION A GOOGLE SPREADSHEET AVEC CLASP</h1>
        </div>
    </div>
</section>

<section class="mbr-section info3 cid-qpgJh3onLZ"  id="info3-33" data-rv-view="7049">
    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(255, 127, 159);">
    </div>
    <div class="container" >
        <div class="media-container-column title col-12 col-md-10 offset-md-1">
            <div class="mbr-section-btn align-left py-4">
            <!-- Wrapper table starts -->
<center><table cellpadding='0' cellspacing='0' border='0' id='backgroundTable' bgcolor='#eb9532' width='100%' height='100%'>
	<tr>
		<td>
			<!-- Before letter starts -->
			<table cellpadding='0' cellspacing='0' border='0' align='center' width='760' class='content-wrap'>
				<tr>
					<td style='padding: 30px 0 10px;'>
						<table cellpadding='0' cellspacing='0' border='0' align='left' class='full-width' width='50%'>
							<tr>
								<td style='font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; padding: 0 10px 0 0;'>
									Cool preheader text going here
								</td>
							</tr>
						</table>
						<table cellpadding='0' cellspacing='0' border='0' align='right' class='full-width' width='50%'>
							<tr>
								<td class='no-padding text-left' style='font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #ffffff; 
									padding: 0 0 0 10px; text-align: right;'>
									Having trouble viewing this email? <a href='#' style='color: #ffffff; text-decoration: none;'>View in browser</a>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<!-- Before letter ends -->

			<!-- Header starts -->
			<table cellpadding='0' cellspacing='0' border='0' align='center' width='760' bgcolor='#ffffff' class='content-wrap'>
				<tr>
					<td style='padding: 15px 5.4%;'>
						<table cellpadding='0' cellspacing='0' border='0' width='100%'>
							<tr>
								<td style='padding: 0 15px 0 0;'>
									<img src="{{asset('assets/images/topsite/pub_cible4.png')}}" width='40' height='40' border='0' style='outline: none; text-decoration: none;
										-ms-interpolation-mode: bicubic; display: block; border: none'/>
								 </td>
								 <td >
									 <table  cellpadding='0' cellspacing='0' border='0' align='right'>
										<tr>
											<td style='word-spacing: 2px; line-height: 23px; padding: 5px 0 0;'>
											<a href='https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1' target='_blank' title='Youtube' style='text-decoration: none;'>
													<img src="{{asset('assets/images/template/i4/header-social/youtube.jpg')}}" width='18' height='15' border='0' style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: inline; border: none'/>
												</a>
												<a href='https://www.facebook.com/vertingo/?ref=bookmarks' target='_blank' title='Facebook' style='text-decoration: none;'>
													<img src="{{asset('assets/images/template/i4/header-social/facebook.jpg')}}" width='9' height='14' border='0' style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: inline; border: none'/>
												</a>
												<a href='https://twitter.com/Vertin_Go' target='_blank' title='Twitter' style='text-decoration: none;'>
													<img src="{{asset('assets/images/template/i4/header-social/twitter.jpg')}}" width='16' height='13' border='0' style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: inline; border: none'/>
												</a>
								
												<a href='https://plus.google.com/u/0/102726855061143896344' target='_blank' title='Google+' style='text-decoration: none;'>
													<img src="{{asset('assets/images/template/i4/header-social/google-plus.jpg')}}" width='14' height='14' border='0' style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: inline; border: none'/>
												</a>
												<a href='http://feeds.feedburner.com/VertinGosBlog' target='_blank' title='RSS' style='text-decoration: none;'>
													<img src="{{asset('assets/images/template/i4/header-social/rss.jpg')}}" width='15' height='15' border='0' style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: inline; border: none'/>
												</a>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<!-- Header ends -->

			<!-- Seperator start -->
			<table width='800' cellspacing='0' align='center' cellpadding='0' border='0' class='content-wrap'>
				<tr>
					<td height='16'>&nbsp;</td>
				</tr>
			</table>
			<!-- Seperator end -->

			<!-- Header with corners starts -->
			<table width='800' cellspacing='0' align='center' cellpadding='0' border='0' class='content-wrap'>
				<tr height='58' bgcolor='#EE5242'>
					<td align='center' valign='middle' style='font-family: Arial, Helvetica, sans-serif; font-size: 24px; color: #ffffff; 
						line-height: 25px; padding: 5px;'>
						Tutoriel initiation à Google SpreadSheet avec le gestionnaire de commande Clasp!
					</td>
				</tr>
				<tr>
					<td>
						<table cellspacing='0' cellpadding='0' border='0'>
							<tr>
								<td valign='top' class='hide'>
									<img src="{{asset('assets/images/template/i4/left-corner.jpg')}}" width='20' height='18' border='0' class='image-fix' style='outline: none; text-decoration: none;
										-ms-interpolation-mode: bicubic; display: inline; border: none; display: block;' />
								</td>
								<td valign='top'>
									<table cellspacing='0' cellpadding='0' border='0' bgcolor='#ffffff'>
										<tr>
											<td style=' font-family: Arial, Helvetica, sans-serif; font-size: 14px; 
												color: #939393; line-height: 20px;'>
                                            <h4 style="text-align: center;"><strong>


                            
                # 🌐 Projet Google SpreadSheet![App Progress Status](https://img.shields.io/badge/Status-Finished-0520b7.svg?style=plastic)<br>
                ==================================<br>
                <!-- Place this tag where you want the button to render. -->
                <a class="github-button" href="https://github.com/vertingo" data-size="large" aria-label="Follow @vertingo on GitHub">Follow @vertingo</a>
                <!-- Place this tag where you want the button to render. -->
                <a class="github-button" href="https://github.com/vertingo/App_Scripts_Google_SpreadSheet/subscription" data-size="large" aria-label="Watch vertingo/Chat_Bot_VertinGo on GitHub">Watch</a>
                <!-- Place this tag where you want the button to render. -->
                <a class="github-button" href="https://github.com/vertingo/App_Scripts_Google_SpreadSheet" data-size="large" aria-label="Star vertingo/Chat_Bot_VertinGo on GitHub">Star</a>
                <!-- Place this tag where you want the button to render. -->
                <a class="github-button" href="https://github.com/vertingo/App_Scripts_Google_SpreadSheet/fork" data-size="large" aria-label="Fork vertingo/Chat_Bot_VertinGo on GitHub">Fork</a>
                <!-- Place this tag where you want the button to render. -->
                <a class="github-button" href="https://github.com/vertingo/App_Scripts_Google_SpreadSheet/archive/master.zip" data-size="large" aria-label="Download vertingo/Chat_Bot_VertinGo on GitHub">Download</a><br>
                ==================================<br>

                <div class="mbr-section-btn align-left py-4">
                <center><a class="btn btn-primary" href="https://github.com/vertingo/App_Scripts_Google_SpreadSheet" target="_blank">Le GitHub!</a> </center>
                </div>
               
               
               # Apps Script Code Snippets<br><br>

The `youtube-data-api.gs` file in this directory contains code snippets that are generated<br>
by the Data API code snippet tool at:<br>
https://developers.google.com/youtube/v3/code_samples/code_snippets<br><br>

You can use that tool to test different parameter values and to generate code samples with<br>
those modified parameter values. The tool generates code for several other programming<br>
languages as well.<br><br>

Each function in the file demonstrates a particular use case for a particular API method.<br>
For example, there are several different use cases for calling the `search.list()` method,<br>
such as searching by keyword or searching for live events.<br><br>

In addition to the use-case-specific functions, the file also contains some boilerplate code<br>
that prints some data from an API response to the logging console. The print function is<br>
currently designed just to show that each API response returns data and serves as a placeholder<br>
for any function that would actually process an API response.<br><br>

## Running these samples<br><br>

<iframe width="660" height="415" src="https://www.youtube.com/embed/ZdW62t0K_MU?start=1363" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>

To run these samples:<br><br>

1. Create a spreadsheet in [Google Drive](https://spreadsheets.google.com).<br>
2. Select **Tools &gt; Script Editor** from the menu bar.<br>
3. Paste this code into the script editor and save your file.<br>
4. In the script, select **Resources &gt; Advanced Google Services** and toggle the option for the<br>
   YouTube Data API to on.<br>
5. Click the link to the Google Developers Console and enable the YouTube Data API for the project.<br>
6. Go back to the script editor and click 'OK' to indicate that you have finished enabling advanced services.<br>
7. Run the `Main` function in your script.<br>
8. Select **View &gt; Logs** to see the output from the script.<br><br>


## Clasp CLI Tools<br><br>

Command to install via Node.JS:<br><br>

<textarea rows="9" data-type="textArea" data-name="ogtCode" data-onclick="selectOgtJs" wrap="off" readonly="readonly" class="W_DECORATE_ELEMENT _GAJh _GAoV _GAi4 " style="margin: 8px 0px 16px; width: 890px; height: 20px;">
npm i @google/clasp -g
</textarea><br><br>

Login with your credentials:<br><br>

<textarea rows="9" data-type="textArea" data-name="ogtCode" data-onclick="selectOgtJs" wrap="off" readonly="readonly" class="W_DECORATE_ELEMENT _GAJh _GAoV _GAi4 " style="margin: 8px 0px 16px; width: 890px; height: 20px;">
clasp login
</textarea><br><br>

Create your first App Scripts project:<br><br>

<textarea rows="9" data-type="textArea" data-name="ogtCode" data-onclick="selectOgtJs" wrap="off" readonly="readonly" class="W_DECORATE_ELEMENT _GAJh _GAoV _GAi4 " style="margin: 8px 0px 16px; width: 890px; height: 60px;">
mkdir clasp_codelab
cd clasp_codelab
clasp create "Clasp Codelab"
</textarea><br><br>

Clone a project from Google SpreadSheet(https://spreadsheets.google.com)<br>
You can fin your scriptID by going to File > Project properties > Info > Script ID<br><br>

<textarea rows="9" data-type="textArea" data-name="ogtCode" data-onclick="selectOgtJs" wrap="off" readonly="readonly" class="W_DECORATE_ELEMENT _GAJh _GAoV _GAi4 " style="margin: 8px 0px 16px; width: 890px; height: 20px;">
clasp clone <scriptID>
</textarea><br><br>

Open the script in the cloud:<br><br>

<textarea rows="9" data-type="textArea" data-name="ogtCode" data-onclick="selectOgtJs" wrap="off" readonly="readonly" class="W_DECORATE_ELEMENT _GAJh _GAoV _GAi4 " style="margin: 8px 0px 16px; width: 890px; height: 20px;">
clasp open
</textarea><br><br>

In the Editor create a new file:<br>
File > New > Script file <br>
Enter the name for your file and add the following code:<br><br>

<textarea rows="9" data-type="textArea" data-name="ogtCode" data-onclick="selectOgtJs" wrap="off" readonly="readonly" class="W_DECORATE_ELEMENT _GAJh _GAoV _GAi4 " style="margin: 8px 0px 16px; width: 890px; height: 100px;">
var world = "world";

function hello() {
  Logger.log("Hello, " + world);
}
</textarea><br><br>

Be sure to save all files. Try running the function by pressing Run > Run function > hello.<br>
Go to View > Logs to see the greeting.<br><br>

By now you may notice that our code is now out of sync with the online editor!<br>
To fix that, let's pull the code from our online project<br><br>

<textarea rows="9" data-type="textArea" data-name="ogtCode" data-onclick="selectOgtJs" wrap="off" readonly="readonly" class="W_DECORATE_ELEMENT _GAJh _GAoV _GAi4 " style="margin: 8px 0px 16px; width: 890px; height: 20px;">
clasp pull
</textarea><br><br>

And to make the inverse when your work locally and update your code with your repository online:<br><br>

<textarea rows="9" data-type="textArea" data-name="ogtCode" data-onclick="selectOgtJs" wrap="off" readonly="readonly" class="W_DECORATE_ELEMENT _GAJh _GAoV _GAi4 " style="margin: 8px 0px 16px; width: 890px; height: 20px;">
clasp push
</textarea><br><br>

clasp allows you to manage versions and deployments. First, some vocabulary:<br><br>

Version: A "snapshot" of a script project. A version can be considered a read-only branch used for deployments.<br>
Deployment: A published release of a script project (often as an add-on or web app). Requires a version number.<br><br>

Let's create a version of our script:<br><br>

<textarea rows="9" data-type="textArea" data-name="ogtCode" data-onclick="selectOgtJs" wrap="off" readonly="readonly" class="W_DECORATE_ELEMENT _GAJh _GAoV _GAi4 " style="margin: 8px 0px 16px; width: 890px; height: 20px;">
clasp version "First version"
</textarea><br><br>

Using the logged version string we created in place of [version], we can deploy the script:<br><br>

<textarea rows="9" data-type="textArea" data-name="ogtCode" data-onclick="selectOgtJs" wrap="off" readonly="readonly" class="W_DECORATE_ELEMENT _GAJh _GAoV _GAi4 " style="margin: 8px 0px 16px; width: 890px; height: 20px;">
clasp deploy 1 "First deployment"
</textarea><br><br>

The clasp deploy command looks at your manifest and creates a new versioned deployment. <br>
Your code is now deployed as an executable. Learn more about this in the deployments guide.<br><br>

                                            </strong></h4>
											</td>
										</tr>
										<tr>
											<td valign='bottom' class='text-center'>
												<table cellpadding='0' cellspacing='0' border='0' align='center'>
													<tr>
														<td align='right' style='padding: 0 6px 0 0'>
															<a href='http://www.vertin-go.com/site/index.asp?DL=548982&page=525872' target='_blank' style=' display: block; height: 54px; width: 150px; text-align: center; background: #EF5343; 
																color: #ffffff; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 14px; 
																padding: 10px 0 0 0;'>
																<h6>L'actualit&eacute; Vertin Go Website!</h6>
															</a>
														</td>
															<td align='left'>
															<a href='https://platform-media.herokuapp.com/front_file_manager?conf=default&route=/Support_PDF%21/Initiation%20%C3%A0%20AndroidStudio%21&view=list' target='_blank' style=' display: block; height: 54px; width: 152px; text-align: center; background: #E57E73; 
																color: #ffffff; text-decoration: none; font-family: Arial, Helvetica, sans-serif; font-size: 14px; 
																padding: 10px 0 0 0;'>
																<h6>Visiter notre File Manager(<img src="{{asset('assets/images/file-manager/logo.png')}}" width='15px;'>)</h6>
															</a>
														</td>
													</tr>
												</table>  
											</td>
										</tr>
									</table>
								</td>
								<td valign='top' class='hide'> 
									<img src="{{asset('assets/images/template/i4/right-corner.jpg')}}" width='20' height='18' border='0' class='image-fix' style='outline: none; 
										text-decoration: none; -ms-interpolation-mode: bicubic; display: inline; border: none; display: block;' />
								</td>
							</tr>
						</table>  
					</td>
				</tr>
			</table>
			<!-- Header with corners ends -->

			<!-- Seperator start -->
			<table width='800' cellspacing='0' align='center' cellpadding='0' border='0' class='content-wrap'>
				<tr>
					<td height='16'>&nbsp;</td>
				</tr>
			</table>
			<!-- Seperator end -->

	
			<!-- Banner starts -->
			<table width='760' cellspacing='0' align='center' cellpadding='0' border='0' class='content-wrap'>
				<tr>
					<td>
						<a href='http://www.vertin-go.com/site/index.asp?DL=548982&page=525872' target='_blank'><img src="{{asset('assets/images/topsite/BanniereTopSite.png')}}"  width='760' height='100' border='0' class='image-fix responsive-img' style='outline: none; 
							text-decoration: none; -ms-interpolation-mode: bicubic; border: none; display: block;' /> </a>
					</td>
				</tr>
			</table>
			<!-- Banner ends -->
			
			

	<!-- Seperator start -->
			<table width='800' cellspacing='0' align='center' cellpadding='0' border='0' class='content-wrap'>
				<tr>
					<td height='16'>&nbsp;</td>
				</tr>
			</table>
			<!-- Seperator end -->

	

			<!-- Footer starts -->
			<table width='760' cellspacing='0' align='center' cellpadding='0' border='0' bgcolor='#EE5242' class='content-wrap'>
				<tr>
					<td style='padding: 25px 20px;'>
						<table cellspacing='0' cellpadding='0' border='0' class='full-width' align='right'>
							<tr>
								<td style='font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #ffffff; padding: 0 0 25px;'>
									<img src="{{asset('assets/images/template/i4/mail-icon.jpg')}}" width='16' height='11' border='0' style='outline: none; text-decoration: none; -ms-interpolation-mode: bicubic; display: inline; border: none'/> 
									<a href='mailto:#' style='text-decoration: none; color: #ffffff;'>
										admin@vertin-go.com
									</a>
								</td>
							</tr>
							<tr>
								<td>
									<table cellspacing='0' cellpadding='0' border='0'>
										<tr>
											<td style='font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #F4A096; padding: 0 0 10px;'>
												Follow us:
											</td>
										</tr>
										<tr>
											<td style='padding: 0 0 15px; word-spacing: 3px; line-height: 23px;'>
												<a href='https://www.youtube.com/channel/UC2g_-ipVjit6ZlACPWG4JvA?sub_confirmation=1' target='_blank' title='Youtube' style='text-decoration: none;'>
													<img src="{{asset('assets/images/template/i4/footer-social/youtube.jpg')}}" width='18' height='15' border='0' style='outline: none; text-decoration: none;
														-ms-interpolation-mode: bicubic; display: inline; border: none'/>
												</a>
												<a href='https://www.facebook.com/vertingo/' target='_blank' title='Facebook' style='text-decoration: none;'>
													<img src="{{asset('assets/images/template/i4/footer-social/facebook.jpg')}}" width='9' height='14' border='0' style='outline: none; 
														text-decoration: none; -ms-interpolation-mode: bicubic; display: inline; border: none'/>
												</a>
												<a href='https://twitter.com/Vertin_Go' target='_blank' title='Twitter' style='text-decoration: none;'>
													<img src="{{asset('assets/images/template/i4/footer-social/twitter.jpg')}}" width='16' height='13' border='0' style='outline: none; 
														text-decoration: none; -ms-interpolation-mode: bicubic; display: inline; border: none'/>
												</a>
					
												<a href='https://plus.google.com/u/0/102726855061143896344' target='_blank' title='Google+' style='text-decoration: none;'>
													<img src="{{asset('assets/images/template/i4/footer-social/google-plus.jpg')}}" width='14' height='14' border='0' style='outline: none; 
														text-decoration: none; -ms-interpolation-mode: bicubic; display: inline; border: none'/>
												</a>
												<a href='http://feeds.feedburner.com/VertinGosBlog' target='_blank' title='RSS' style='text-decoration: none;'>
													<img src="{{asset('assets/images/template/i4/footer-social/rss.jpg')}}" width='15' height='15' border='0' style='outline: none; text-decoration: none; 
														-ms-interpolation-mode: bicubic; display: inline; border: none'/>
												</a>
											</td>
										</tr>
											<tr>
										<td>
									
										<a href='https://play.google.com/store/apps/details?id=com.vertin_go.myapplication&hl=fr' target='_blank'><img src="{{asset('assets/images/topsite/app-store-google-play.png')}}" width='145' height='125'/> </a>
										</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						<table cellspacing='0' cellpadding='0' border='0' align='left' class='full-width'>
							<tr>
								<td style='font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #F4A096; padding: 0 0 15px;'>
									<h4>&copy; 2013 HQDesigns, Inc. <br />
									<!--<a href='http://vertin-go.com/TopSite/configuration/FPDF-master/pdf_archives_by_membres/archive_experience_et_stats_topsite2.php?pseudo=$res[pseudo]' target='_blank'>N'oubliez pas que vous pouvez consulter &agrave; tout moment votre recueil d'activit&eacute; TopSite<br> constamment mis &agrave; jour au format pdf(<img src="{{asset('assets/images/file-manager/pdf.jpg')}}" width='15px;'>)!<br> Inclus dans votre rapport: <ul><li>Des statistiques g&eacute;n&eacute;rales et personnelles!</li> + <li>Votre inventaire des notifications facebook re&ccedil;us!</li> + <li>Des statistiques d&eacute;taill&eacute;s de vos sites, annonces, vid&eacute;os, et documents et bien plus!</li></ul> </a><br>-->Tous droits r&eacute;serv&eacute;s
                                    </h4>
								</td>
							</tr>
							<tr>
								<td style='font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #F4A096; padding: 0 0 15px;'>
                               
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<!-- Footer ends -->

		</td> 
	</tr>
</table></center>
<!-- Wrapper table ends -->

</div>
</div>
</div>
</section>

<section class="features18 popup-btn-cards cid-qpPu3C112r" id="features18-5f" data-rv-view="6784">
    <div class="container">
        <div class="media-container-row pt-5">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center">
                            <a href="{{ path('vertingo-website-introduction') }}" class="btn btn-primary">Live Demo</a>
                        </div>
                        <a href="{{ path('vertingo-website-introduction') }}"><img src="{{asset('assets/images/intro-1.jpg')}}" alt="Mobirise" title="" media-simple="true"></a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            INTROS</h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center">
                            <a href="{{ path('learn-symfony-framework') }}" class="btn btn-primary">
                                Live Demo</a>
                        </div>
                        <a href="{{ path('learn-symfony-framework') }}"><img src="{{asset('assets/images/images-video.jpg')}}" alt="Mobirise" title="" media-simple="true"></a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">IMAGES &amp; VIDEOS</h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center">
                            <a href="{{ path('learn-android-studio-development-and-google-play-deployment') }}" class="btn btn-primary">
                                Live Demo</a>
                        </div>
                        <a href="{{ path('learn-android-studio-development-and-google-play-deployment') }}"><img src="{{asset('assets/images/slider.jpg')}}" alt="Mobirise" title="" media-simple="true"></a>
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            SLIDERS</h4>      
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="features18 popup-btn-cards cid-qpPvFSLFry" id="features18-5m" data-rv-view="6796">
    <div class="container">    
        <div class="media-container-row pt-5">
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center">
                            <a href="{{ path('glossary-informatics-block') }}" class="btn btn-primary">
                                Live Demo
                            </a>
                        </div>
                        <img src="{{asset('assets/images/info.jpg')}}" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            INFO BLOCKS</h4>
                    </div>
                </div>
            </div>
		<div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper ">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center">
                            <a href="{{ path('social-blocks') }}" class="btn btn-primary">
                                Live Demo
                            </a>
                        </div>
                        <img src="{{asset('assets/images/social.jpg')}}" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            SOCIAL&nbsp;BLOCKS</h4>
                    </div>
                </div>
            </div>
            <div class="card p-3 col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <div class="card-img">
                        <div class="mbr-overlay"></div>
                        <div class="mbr-section-btn text-center"><a href="{{ path('testimonials') }}" class="btn btn-primary">
                                Live Demo</a></div>
                        <img src="{{asset('assets/images/testimonials.jpg')}}" alt="Mobirise" title="" media-simple="true">
                    </div>
                    <div class="card-box">
                        <h4 class="card-title pb-3 mbr-fonts-style display-7">
                            TESTIMONIALS</h4>      
                    </div>
                </div>
            </div>
		</div>
    </div>
</section>

<section class="mbr-section info3 cid-qpgJh3onLZ" id="info3-33" data-rv-view="7049">

    <div style='overflow-x:scroll;overflow-y:hidden;width:1500px;height:350px'>
    <div style='width:1500px;height:350px'>
     {{ sonata_block_render({ 'type': 'sonata.block.service.rss' ,'limit': 3}, {
    'title': 'Vertin Go Website Feeds',
    'url': 'http://feeds.feedburner.com/CommentFonderUnBusinessEnLigne'
}) }}
    </div>
    </div>

    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © Copyright 2017 Mobirise - All Rights Reserved
                </p>
            </div>
        </div>
    </div>
</section>

<script src="{{ asset('bundles/usnnewsletter/js/main.js') }}"></script>

  <script src="{{ asset('assets/web/assets/jquery/jquery.min.js') }}"></script>
  <script src="{{ asset('assets/popper/popper.min.js') }}"></script>
  <script src="{{ asset('assets/tether/tether.min.js') }}"></script>
  <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ asset('assets/smooth-scroll/smooth-scroll.js') }}"></script>
  <script src="{{ asset('assets/dropdown/js/script.min.js') }}"></script>
  <script src="{{ asset('assets/touch-swipe/jquery.touch-swipe.min.js') }}"></script>
  <script src="{{ asset('assets/theme/js/script.js') }}"></script>
  
<div id="smart-banner-container"></div>
{% endblock %}