<div class="table-responsive list-blk">
    <table class="table">
        <colgroup>
            <col>
            <col>
            <col class="col-lg-8">
            <col class="col-lg-1">
            <col class="col-lg-1">
            <col class="col-lg-1">
            <col class="col-lg-1">
        </colgroup>
        <thead class="thead-default">
        <tr>
            <th><input type="checkbox" id="select-all" title="{{ 'select-all'|trans }}"></th>
            <th></th>
            <th>
                {{ order(fileManager, 'name') }}
            </th>
            <th class="hidden-xs">
                {{ order(fileManager, 'date') }}
            </th>
            <th class="hidden-xs">
                {{ order(fileManager, 'size') }}
            </th>
            <th class="hidden-xs">
                {{ order(fileManager, 'dimension') }}
            </th>
            <th class="text-right">{{ 'table.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for fileEntity in fileArray %}
            {% set file = fileEntity.file %}
            <tr class="{{ file.type }}">
                <td><input type="checkbox" class="checkbox" name="delete[]" value="{{ file.fileName }}" title="{{ file.fileName }}"></td>
                <td>{{ fileEntity.preview ? fileEntity.preview.html|raw }}</td>
                <td data-value="{{ file.fileName }}" {{ fileEntity.attribut|raw }}>
                    {{ (fileEntity.preview.folder is defined ? fileEntity.preview.folder : file.fileName)|raw }}
                </td>
                <td class="hidden-xs">
                    <small>{{ file.mTime|date('d/m/Y') }}</small>
                </td>
                <td class="hidden-xs">
                    <small>{{ fileEntity.HTMLSize|trans|raw }}</small>
                </td>
                <td class="hidden-xs">
                    <small>{{ fileEntity.HTMLDimension }}</small>
                </td>
                <td class="text-right">
           
                   
                    {% if file.type == "file" %}
                        <a data-placement="left" title="{{ 'title.download'|trans }}" class="btn btn-xs btn-default js-download"
                           href="{{ path('file_manager_file', fileManager.queryParameters|merge({'fileName':file.fileName})) }}" download>
                            <span class="fa fa-download"></span>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
