<div class="row margin-bottom thumbnail-blk">
    
    {% for fileEntity in fileArray %}
        {% set file = fileEntity.file %}
        <div class="{{ file.type }} col-xs-6 col-sm-4 col-md-{{ fileManager.tree == 0 ? 3 : 4 }} col-lg-2 text-center thumbnail">
            <input type="checkbox" class="checkbox" name="delete[]"
                   value="{{ file.fileName }}"
                   title="{{ file.fileName }}">
            <div class="thumbnail-img">
                {{ fileEntity.preview.html|raw }}
            </div>
            <p {{ fileEntity.attribut|raw }}>
                {{ (fileEntity.preview.folder is defined ? fileEntity.preview.folder : file.fileName)|raw }}<br>
                <small>{{ fileEntity.file.mTime|date('d/m/Y') }}  {{ fileEntity.HTMLSize ? ' - '~fileEntity.HTMLSize|trans|raw }}</small>
                <br>
                <small>{{ fileEntity.HTMLDimension }}</small>
                <br>
            </p>
            <div class="row">
         
                {% if file.type == "file" %}
                    <a data-placement="left" title="{{ 'title.download'|trans }}" class="btn btn-sm btn-default js-download"
                       href="{{ path('file_manager_file', fileManager.queryParameters|merge({'fileName':file.fileName})) }}" download>
                        <span class="fa fa-download"></span>
                    </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
